<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/MainSheet.css" />
    <link rel="stylesheet" href="~/css/MenuSheet.css" />
    <link rel="stylesheet" href="~/css/TextSheet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <!--меню-->
    <nav>
        <div class="wrapper">
            <div>
                <a href="#"><img src="https://localhost:44382/images/PDD.png" alt=""></a>
                <span class="logo">Online</span>
            </div>
            <div class="menu">
                <a href="#" class="menu-item">Главная</a>
                <a href="#" class="menu-item">ПДД</a>
                <a href="#" class="menu-item">Тесты</a>
                <a href="#" class="menu-item">Контакты</a>
            </div>
        </div>
    </nav>
    <hr>
    <div class="menu-content">
        <div class="vertical-menu">
            <ul class="metro">
                <li class="dropdown">
                    <a href="">Правила дорожного движения</a>
                    <ul class="dropdown-child">
                        <li><a href="">1. Общие положения</a></li>
                        <li><a href="">2. Общие права и обязанности участников дорожного движения</a></li>
                        <li><a href="">3. Права и обязанности водителей</a></li>
                        <li><a href="">4. Права и обязанности пешеходов</a></li>
                        <li><a href="">5. Обязанности пассажиров</a></li>
                        <li><a href="">6. Права и обязанности водителей и других лиц в особых случаях</a></li>
                        <li><a href="">7. Сигналы регулировщика и светофоров</a></li>
                        <li><a href="">8. Применение аварийной световой сигнализации, знака аварийной остановки, фонаря с мигающим красным светом</a></li>
                        <li><a href="">9. Маневрирование</a></li>
                        <li><a href="">10. Расположение транспортных средств на проезжей части дороги</a></li>
                        <li><a href="">11. Скорость движения транспортных средств</a></li>
                        <li><a href="">12. Обгон, встречный разъезд</a></li>
                        <li><a href="">13. Проезд перекрестков</a></li>
                        <li><a href="">14. Пешеходные переходы и остановочные пункты маршрутных транспортных средств</a></li>
                        <li><a href="">15. Преимущество маршрутных транспортных средств</a></li>
                        <li><a href="">16. Железнодорожные переезды</a></li>
                        <li><a href="">17. Движение по автомагистрали</a></li>
                        <li><a href="">18. Движение в жилой и пешеходной зонах, на прилегающей территории</a></li>
                        <li><a href="">19. Остановка и стоянка транспортных средств</a></li>
                        <li><a href="">20. Движение на велосипедах и мопедах</a></li>
                        <li><a href="">21. Движение гужевых транспортных средств, всадников и прогон скота</a></li>
                        <li><a href="">22. Пользование внешними световыми приборами и звуковыми сигналами транспортных средств</a></li>
                        <li><a href="">23. Перевозка пассажиров</a></li>
                        <li><a href="">24. Перевозка грузов</a></li>
                        <li><a href="">25. Буксировка механических транспортных средств</a></li>
                        <li><a href="">26. Основные положения о допуске транспортных средств к участию в дорожном движении, их техническое состояние, оборудование</a></li>
                        <li><a href="">27. Обязанности должностных и иных лиц по обеспечению безопасности дорожного движения</a></li>
                    </ul>
                </li>
                <li><a href="">Приложение 1. Дорожные светофоры</a></li>
                <li><a href="">Приложение 2. Дорожные знаки</a></li>
                <li><a href="">Приложение 3. Дорожная разметка</a></li>
                <li><a href="">Приложение 4. Перечень неисправностей</a></li>
            </ul>
        </div>
        <div class="text">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="wrapper">
            <div class="footer-text">
                <img src="https://localhost:44382/images/PDD.png" alt="">
            </div>
            <div class="socials">
                <a href="#"><img src="https://localhost:44382/images/facebook.png" alt=""></a>
                <a href="#"><img src="https://localhost:44382/images/twitter.png" alt=""></a>
                <a href="#"><img src="https://localhost:44382/images/rss.png" alt=""></a>
            </div>
        </div>
    </footer>
</body>
</html>
@*<li><a href="">1. Общие положения</a></li>
<li><a href="">2. Общие права и обязанности участников дорожного движения</a></li>
<li><a href="">3. Права и обязанности водителей</a></li>
<li><a href="">4. Права и обязанности пешеходов</a></li>*@