@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 26. Основные положения о допуске транспортных средств к участию в дорожном движении, их техническое состояние, оборудование</h1>

<ul>
    <li>
        <a href="">194</a>. <strong></strong>
        Запрещается участие в дорожном движении транспортного средства:
    </li>
    <li>
        <a href="">194.1</a>. <strong></strong>
        конструкция и техническое состояние которого не отвечает требованиям технических нормативных правовых актов;
    </li>
    <li>
        <a href="">194.2</a>. <strong></strong>
        без установленных в предусмотренных местах регистрационных знаков (временных номерных знаков), транспортного средства, имеющего следы видоизменения или уничтожения регистрационных знаков (временных номерных знаков), а также маркировок кузова, шасси, рамы, нанесенных на них ранее организацией (заводом)-изготовителем (за исключением зарегистрированных в установленном порядке)
    </li>
    <li>
        <a href="">194.3</a>. <strong></strong>
        с правосторонним расположением органов управления транспортным средством (кроме транспортных средств, зарегистрированных на территории Республики Беларусь до 10 августа 2002 г., а также принадлежащих лицам, временно прибывшим в Республику Беларусь);
    </li>
    <li>
        <a href="">194.4</a>. <strong></strong>
        переоборудованного (путем изменения его типа и (или) назначения, а также весовых, габаритных или иных технических характеристик, предусмотренных документацией организации (завода)-изготовителя, в том числе путем оборудования транспортного средства маячками, специальными звуковыми сигналами) без согласования с ГАИ в порядке, установленном Министерством внутренних дел;
    </li>
    <li>
        <a href="">194.5</a>. <strong></strong>
        не зарегистрированного в порядке, установленном Советом Министров Республики Беларусь;
    </li>
    <li>
        <a href="">194.6</a>. <strong></strong>
        не прошедшего государственного технического осмотра, порядок проведения которого определяется Советом Министров Республики Беларусь;
    </li>
    <li>
        <a href="">194.7</a>. <strong></strong>
        при наличии неисправности, указанной в <a href="/pdd/ru/a4/">приложении 4</a> к настоящим Правилам;
    </li>
    <li>
        <a href="">194.8</a>. <strong></strong>
        с неисправными рабочей тормозной системой, рулевым управлением;
    </li>
    <li>
        <a href="">194.9</a>. <strong></strong>
        с неисправным сцепным устройством (в составе автопоезда);
    </li>
    <li>
        <a href="0">194.10</a>. <strong></strong>
        с негорящими (отсутствующими) фарами и (или) задними габаритными огнями в темное время суток</a> на неосвещенных участках дороги и (или) при ее недостаточной видимости</a> (негорящими фарами считаются фары, у которых не горит (не работает) ни ближний, ни дальний свет);
    </li>
    <li>
        <a href="1">194.11</a>. <strong></strong>
        с неисправными стеклоочистителями (во время выпадения осадков);
    </li>
    <li>
        <a href="2">194.12</a>. <strong></strong>
        стекла которого имеют степень светопропускания менее:
        <p>— 70 процентов — для ветрового стекла (стекла, применяемого для остекления переднего проема транспортного средства), передних боковых стекол;</p>
        <p>— 70 процентов — для других стекол, если на них не нанесена организацией (заводом)-изготовителем маркировка, содержащая одно из следующих сочетаний знаков: «43R», «V»; «43R», «V-VI»; «AS3»; «43R», «V», «AS3»;*</p>
        <p>* Данные требования не распространяются на транспортные средства, используемые для транспортного обслуживания, сопровождения и обеспечения безопасности должностных лиц, подлежащих государственной охране в соответствии с законодательными актами.</p>
    </li>
    <li>
        <a href="3">194.13</a>. <strong></strong>
        с внешне видимыми наклейками (изображениями), кроме размещаемых в установленном порядке опознавательных знаков транспортных средств, предусмотренных в приложении 5</a> к настоящим Правилам, рекламы, информации о принадлежности транспортного средства соответствующей организации (индивидуальному предпринимателю).
    </li>
    <li>
        <a href="">195</a>. <strong></strong>
        Запрещается участие в дорожном движении троллейбусов</a> и трамваев</a> при наличии одной и более неисправности, указанной в технических нормативных правовых актах, регламентирующих техническое состояние этих транспортных средств.
    </li>
    <li>
        <a href="">196</a>. <strong></strong>
        При возникновении неисправностей, за исключением указанных в подпунктах 194.8–194.11 пункта 194</a> настоящих Правил, водитель</a> должен принять меры к их устранению, а если это невозможно, он может следовать к месту стоянки или ремонта, соблюдая необходимые меры предосторожности по обеспечению безопасности дорожного движения</a>.
    </li>
    <li>
        <a href="">197</a>. <strong></strong>
        На механических транспортных средствах</a> (кроме трамваев</a> и троллейбусов</a>) и прицепах</a> в предусмотренных местах должны быть установлены регистрационные знаки, соответствующие техническим нормативным правовым актам (временные номерные знаки, соответствующие нормативным правовым актам). При этом:
    </li>
    <li>
        <a href="">197.1</a>. <strong></strong>
        запрещается установка регистрационных знаков, временных номерных знаков, отличающихся от установленных образцов;
    </li>
    <li>
        <a href="">197.2</a>. <strong></strong>
        на трамвай и троллейбус наносятся регистрационные номера, присваиваемые Министерством жилищно-коммунального хозяйства.
    </li>
    <li>
        <a href="">198</a>. <strong></strong>
        Грузовые автомобили с бортовой платформой, используемые для перевозки пассажиров</a>, должны быть оборудованы сиденьями, закрепленными на высоте не менее 0,3 метра от верхнего края борта вниз к полу. Сиденья, расположенные вдоль заднего и боковых бортов, должны иметь прочные спинки.
        <p>Грузовые автомобили с кузовом-фургоном, используемые для перевозки пассажиров, должны быть оборудованы сиденьями, закрепленными на высоте 0,3–0,5 метра от пола.</p>
    </li>
    <li>
        <a href="">199</a>. <strong></strong>
        Механические транспортные средства, используемые для обучения управлению механическим транспортным средством и принадлежащие учебным организациям, должны быть дополнительно оборудованы:
    </li>
    <li>
        <a href="">199.1</a>. <strong></strong>
        автомобиль</a> (автобус</a>):<p>
        </p><p>
            педалями привода сцепления и тормоза, необходимым количеством зеркал заднего вида для обучающего управлению автомобилем (автобусом), а также обозначены спереди и сзади опознавательным знаком «Учебное транспортное средство</a>». Педали приводов сцепления и тормоза для обучаемого и обучающего управлению автомобилем (автобусом), допущенным к участию в дорожном движении с 1 июля 2003 г., должны воздействовать на рабочий орган соответствующей системы независимо друг от друга;
        </p><p>видеорегистраторами при проведении экзаменов в учебной организации. Порядок применения видеорегистраторов устанавливается техническими нормативными правовыми актами, а порядок использования и хранения информации, полученной с их помощью, – Министерством транспорта и коммуникаций по согласованию с Министерством внутренних дел;</p>
    </li>
    <li>
        <a href="">199.2</a>. <strong></strong>
        троллейбус</a> и трамвай</a> — специальной кабиной с сиденьем и зеркалом заднего вида для обучающего управлению троллейбусом или трамваем, приводами тормоза, а также обозначены спереди и сзади опознавательным знаком «Учебное транспортное средство</a>».
    </li>
    <li>
        <a href="">200</a>. <strong></strong>
        Велосипед</a> должен иметь исправные тормозную систему, рулевое управление и звуковой сигнал, быть оборудован зеркалом заднего вида, спереди световозвращателем белого цвета, сзади — световозвращателем (световозвращателями) красного цвета, а с каждой боковой стороны — световозвращателями оранжевого цвета.
        <p>Гужевое транспортное средство</a> должно быть оборудовано спереди световозвращателями белого цвета, сзади — красного, иметь предусмотренные конструкцией исправное стояночное тормозное устройство и противооткатные упоры.</p>
    </li>
    <li>
        <a href="">201</a>. <strong></strong>
        На транспортных средствах должны быть установлены опознавательные знаки, указанные в <a href="/pdd/ru/a5/">приложении 5</a> к настоящим Правилам:
    </li>
    <li>
        <a href="">201.1</a>. <strong></strong>
        «Автопоезд</a>» — в виде трех фонарей, излучающих оранжевый свет, горизонтально расположенных на крыше кабины, с промежутком между ними от 150 до 300 мм — на грузовых автомобилях и колесных тракторах</a> (классов тяги 1,4 тонны и выше) с прицепами</a>, на сочлененных автобусах</a> и троллейбусах</a> или в виде верхних габаритных фонарей в крайних передних габаритных точках крыши кабины на указанных транспортных средствах;
    </li>
    <li>
        <a href="">201.2</a>. <strong></strong>
        «Знак аварийной остановки</a>» — в случаях, предусмотренных настоящими Правилами;
    </li>
    <li>
        <a href="">201.3</a>. <strong></strong>
        «Шипы</a>» — в виде равностороннего треугольника белого цвета вершиной вверх с каймой красного цвета, в который вписана буква «Ш» черного цвета (сторона треугольника — не менее 200 мм, ширина каймы — 1/10 стороны), — сзади механических транспортных средств, имеющих ошипованные шины;
    </li>
    <li>
        <a href="">201.4</a>. <strong></strong>
        «Учебное транспортное средство</a>» — в виде равностороннего треугольника белого цвета вершиной вверх с каймой красного цвета, в который вписана буква «У» черного цвета (сторона треугольника — не менее 200 мм, ширина каймы — 1/10 стороны), — спереди и сзади механических транспортных средств, используемых для обучения управлению механическим транспортным средством (на крыше легковых автомобилей устанавливается двусторонний светящийся знак);
    </li>
    <li>
        <a href="">201.5</a>. <strong></strong>
        «Ограничение скорости</a>» — в виде уменьшенного цветного изображения дорожного знака «Ограничение максимальной скорости</a>» с указанием разрешенной скорости движения (диаметр знака — не менее 160 мм, ширина каймы — 1/10 диаметра) — на задней стороне кузова слева механических транспортных средств, управляемых водителями</a> с водительским стажем менее двух лет</a>, механических транспортных средств, перевозящих опасные, тяжеловесные и (или) крупногабаритные грузы, а также в случаях, когда максимальная скорость движения транспортного средства по технической характеристике ниже скорости движения, определенной в пункте 89</a> настоящих Правил;
    </li>
    <li>
        <a href="">201.6</a>. <strong></strong>
        «Перевозка детей</a>» — в виде квадрата желтого цвета с каймой красного цвета (сторона квадрата — не менее 250 мм, ширина каймы — 1/10 стороны) с черным изображением символа дорожного знака «Дети</a>» — спереди и сзади автобусов</a> при перевозке групп детей;
    </li>
    <li>
        <a href="">201.7</a>. <strong></strong>
        «>Колонна</a>» — в виде квадрата желтого цвета с каймой красного цвета, в который вписана буква «К» черного цвета (сторона квадрата — не менее 300 мм, ширина каймы — 1/10 стороны), — спереди и сзади транспортных средств, движущихся в транспортной колонне</a>. При движении в организованной транспортной колонне</a> данный опознавательный знак устанавливается спереди и сзади только на замыкающем указанную колонну транспортном средстве, не являющемся транспортным средством оперативного назначения;
    </li>
    <li>
        <a href="">201.8</a>. <strong></strong>
        «Тихоходное транспортное средство</a>» — сзади транспортных средств;
    </li>
    <li>
        <a href="">201.9</a>. <strong></strong>
        «Отличительный знак транспортного средства Республики Беларусь</a>» — на задней стороне кузова справа механических транспортных средств в соответствии с требованиями технических нормативных правовых актов. Данный опознавательный знак может не устанавливаться на транспортных средствах с регистрационными знаками, содержащими изображение символа «BY»;
    </li>
    <li>
        <a href="0">201.10</a>. <strong></strong>
        «Крупногабаритный груз</a>» — в виде квадрата размером 400 x 400 мм с нанесенными по диагонали от левого нижнего к правому верхнему углу красными и белыми чередующимися полосами шириной 50 мм со световозвращающей поверхностью — на крайних внешних частях груза, выступающего за габариты транспортных средств;
    </li>
    <li>
        <a href="1">201.11</a>. <strong></strong>
        «Опасный груз</a>» — в виде прямоугольника оранжевого цвета размером 400 x 300 мм с каймой черного цвета шириной 15 мм, в верхней части которого указывается идентификационный номер вида опасности, в нижней части — идентификационный номер соответствующего опасного вещества, и «Знак опасности</a>» — в виде ромба со стороной 250 мм, изображение которого должно соответствовать классу опасного вещества, — устанавливаются в соответствии с правилами перевозки опасных грузов автомобильным транспортом;
    </li>
    <li>
        <a href="2">201.12</a>. <strong></strong>
        «Инвалид по слуху</a>» — в виде желтого круга диаметром 160 мм с нанесенными внутри тремя черными кружками диаметром 40 мм, расположенными по углам воображаемого равностороннего треугольника вершиной вниз, — спереди и сзади механических транспортных средств, управляемых водителями — инвалидами по слуху;
    </li>
    <li>
        <a href="3">201.13</a>. <strong></strong>
        «Транспортное средство большой грузоподъемности</a>», «Транспортное средство большой длины</a>».
    </li>
    <li>
        <a href="">202</a>. <strong></strong>
        Опознавательные знаки «Тихоходное транспортное средство</a>», «Транспортное средство большой грузоподъемности</a>», «Транспортное средство большой длины</a>» должны быть изготовлены и установлены на транспортных средствах, а «Знак аварийной остановки</a>» — изготовлен в соответствии с требованиями технических нормативных правовых актов.
    </li>
    <li>
        <a href="">203</a>. <strong></strong>
        По желанию водителя</a> могут быть установлены опознавательные знаки:
    </li>
    <li>
        <a href="">203.1</a>. <strong></strong>
        «Инвалид</a>» — в виде квадрата желтого цвета со стороной 150 мм и с изображением символа дорожного знака «Инвалиды</a>» черного цвета — спереди и сзади механических транспортных средств, управляемых инвалидами І, ІІ группы, а также инвалидами ІІІ группы с нарушениями опорно-двигательного аппарата или перевозящих таких инвалидов;
    </li>
    <li>
        <a href="">203.2</a>. <strong></strong>
        «Врач</a>» — в виде квадрата синего цвета со стороной 140 мм с вписанным в него белым кругом диаметром 125 мм, на который нанесен зеленый крест (высота квадрата — 90 мм, ширина штриха — 25 мм), — спереди и сзади автомобилей</a>, управляемых водителями-врачами.
    </li>
    <li>
        <a href="">204</a>. <strong></strong>
        Разрешается установка световозвращающих лент (полос) красного цвета сзади и белого цвета спереди транспортных средств в соответствии с требованиями технических нормативных правовых актов.
    </li>
    <li>
        <a href="">205</a>. <strong></strong>
        Транспортные средства (кроме принадлежащих Министерству обороны, Министерству внутренних дел, Министерству по чрезвычайным ситуациям, Комитету государственной безопасности, Государственному пограничному комитету, другим войскам и воинским формированиям Республики Беларусь) должны быть обозначены маркировкой с улучшенными световозвращающими характеристиками в случаях, предусмотренных техническими нормативными правовыми актами.
    </li>
    <li>
        <a href="">206</a>. <strong></strong>
        Предупредительные устройства для обозначения гибких связующих звеньев при буксировке механических транспортных средств должны выполняться в виде флажков или щитков размером 200 x 200 мм с нанесенными на них по диагонали красными и белыми чередующимися полосами шириной 50 мм со световозвращающей поверхностью. На гибком связующем звене должно быть установлено не менее двух указанных предупредительных устройств.
    </li>
    <li>
        <a href="">207</a>. <strong></strong>
        Конструкция жесткого буксирующего устройства должна соответствовать требованиям технических нормативных правовых актов.
    </li>
    <li>
        <a href="">207<sup>1</sup></a>. <strong></strong>
        При участии в дорожном движении с 1 декабря по 1 марта автомобили с технически допустимой общей массой до 3,5 тонны включительно, легковые и грузопассажирские автомобили с технически допустимой общей массой свыше 3,5 тонны, а также автобусы с технически допустимой общей массой до 5 тонн должны быть оборудованы зимними шинами. Зимние шины устанавливаются на всех колесах транспортного средства и должны соответствовать требованиям части второй пункта 25</a> приложения 4</a> к настоящим Правилам.
    </li>
</ul>
