@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 25. Буксировка механических транспортных средств</h1>

<ul>
    <li>
        <a href="">188</a>. <strong></strong>
        Буксировка механического транспортного средства производится при помощи сцепки (гибкой или жесткой) либо путем его частичной погрузки на буксирующее транспортное средство.
    </li>
    <li>
        <a href="">189</a>. <strong></strong>
        Буксировка при помощи сцепки должна осуществляться только при наличии водителя</a> за рулем буксируемого транспортного средства, кроме случая, когда конструкция жесткой сцепки обеспечивает движение буксируемого транспортного средства по траектории буксирующего.
    </li>
    <li>
        <a href="">190</a>. <strong></strong>
        При буксировке автобуса</a>, троллейбуса</a>, трамвая</a>, грузового автомобиля, колесного трактора</a>, самоходной машины</a> при помощи сцепки запрещается перевозка в них пассажиров.
        <p>При буксировке путем частичной погрузки запрещается нахождение людей в буксируемом транспортном средстве, а также в кузове буксирующего транспортного средства.</p>
    </li>
    <li>
        <a href="">191</a>. <strong></strong>
        При буксировке с помощью гибкой сцепки расстояние между буксирующим и буксируемым транспортными средствами должно быть в пределах 4–6 метров, а при буксировке с помощью жесткой сцепки — не более 4 метров. Для обозначения гибких связующих звеньев применяются предупредительные устройства в соответствии с пунктом 206</a> настоящих Правил.
    </li>
    <li>
        <a href="">192</a>. <strong></strong>
        При буксировке:
    </li>
    <li>
        <a href="">192.1</a>. <strong></strong>
        с помощью гибкой сцепки у буксируемого транспортного средства должны быть исправны рабочая тормозная система и рулевое управление;
    </li>
    <li>
        <a href="">192.2</a>. <strong></strong>
        с помощью жесткой сцепки у буксируемого транспортного средства должно быть исправно рулевое управление, кроме случая, когда конструкция жесткой сцепки обеспечивает движение буксируемого транспортного средства по траектории буксирующего, а при массе буксируемого транспортного средства более половины массы буксирующего транспортного средства также должна быть исправна рабочая тормозная система;
    </li>
    <li>
        <a href="">192.3</a>. <strong></strong>
        путем частичной погрузки допускаются неисправности рабочей тормозной системы и рулевого управления буксируемого транспортного средства.
    </li>
    <li>
        <a href="">193</a>. <strong></strong>
        Запрещается буксировка:
    </li>
    <li>
        <a href="">193.1</a>. <strong></strong>
        осуществляемая с нарушением требований, определенных в пунктах 189–192 настоящих Правил, и других требований, установленных настоящими Правилами в отношении буксировки;
    </li>
    <li>
        <a href="">193.2</a>. <strong></strong>
        в гололедицу при помощи гибкой сцепки;
    </li>
    <li>
        <a href="">193.3</a>. <strong></strong>
        автопоездами</a>;
    </li>
    <li>
        <a href="">193.4</a>. <strong></strong>
        мотоциклами</a> без боковых прицепов, а также таких мотоциклов, кроме буксировки прицепов</a>, специально предназначенных для мотоциклов;
    </li>
    <li>
        <a href="">193.5</a>. <strong></strong>
        механических транспортных средств на гибкой сцепке, если работа их рабочих тормозных и (или) рулевых систем связана с работой двигателя, который остановлен;
    </li>
    <li>
        <a href="">193.6</a>. <strong></strong>
        двух и более транспортных средств, за исключением буксировки на жесткой сцепке седельного тягача с полуприцепом;
    </li>
    <li>
        <a href="">193.7</a>. <strong></strong>
        мопедов</a> и мопедами, за исключением буксировки велосипедного прицепа</a> промышленного производства.
    </li>
</ul>
