@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 11. Скорость движения транспортных средств</h1>
<ul>
<li>
    <a href="">87</a>. <strong></strong>
    При выборе скорости движения водитель должен учитывать ограничения скорости, установленные пунктами 88</a>, 89</a> настоящих Правил и техническими средствами организации дорожного движения, а также интенсивность движения, обзорность дороги, особенности и состояние транспортного средства и перевозимого им груза, дорожные, погодные (метеорологические) условия и другие факторы, снижающие прозрачность атмосферы и влияющие на видимость дороги</a> в направлении движения. При этом:
</li>
<li>
    <a href="">87.1</a>. <strong></strong>
    в темное время суток</a> и (или) при недостаточной видимости дороги</a> скорость движения должна позволять водителю остановить транспортное средство в пределах видимости дороги</a> в направлении движения;
</li>
<li>
    <a href="">87.2</a>. <strong></strong>
    при возникновении препятствия</a> или опасности для движения</a>, которые водитель в состоянии обнаружить, он обязан немедленно принять меры к снижению скорости движения, вплоть до остановки транспортного средства.
</li>
<li>
    <a href="">88</a>. <strong></strong>
    В населенных пунктах</a> разрешается движение транспортных средств со скоростью не более 60 км/ч, а буксирующим механические транспортные средства — не более 50 км/ч, в жилых</a> и пешеходных зонах</a>, на прилегающих территориях</a> — не более 20 км/ч.
</li>
<li>
    <a href="">89</a>. <strong></strong>
    Вне населенных пунктов разрешается движение со скоростью:
</li>
<li>
    <a href="">89.1</a>. <strong></strong>
    легковым автомобилям и грузовым автомобилям с технически допустимой общей массой не более 3,5 тонны на автомагистралях — не более 110 км/ч, на остальных дорогах — не более 90 км/ч;
</li>
<li>
    <a href="">89.2</a>. <strong></strong>
    автобусам и мотоциклам — не более 90 км/ч;
</li>
<li>
    <a href="">89.3</a>. <strong></strong>
    автобусам, легковым и грузовым автомобилям при их движении с прицепом</a>, грузовым автомобилям с технически допустимой общей массой</a> более 3,5 тонны на автомагистралях — не более 90 км/ч, на остальных дорогах — не более 70 км/ч;
</li>
<li>
    <a href="">89.4</a>. <strong></strong>
    механическим транспортным средствам, управляемым водителями с водительским стажем до двух лет</a>, а также при обучении управлению механическим транспортным средством, когда транспортным средством управляет обучаемый управлению, — не более 70 км/ч;
</li>
<li>
    <a href="">89.5</a>. <strong></strong>
    грузовым автомобилям, перевозящим пассажиров</a> в кузове, — не более 60 км/ч;
</li>
<li>
    <a href="">89.6</a>. <strong></strong>
    транспортным средствам, буксирующим механические транспортные средства, — не более 50 км/ч;
</li>
<li>
    <a href="">89.7</a>. <strong></strong>
    транспортным средствам, перевозящим опасные грузы, тяжеловесным и (или) крупногабаритным транспортным средствам</a> — со скоростью, не превышающей скорость движения, установленную при согласовании условий перевозки.
</li>
<li>
    <a href="">90</a>. <strong></strong>
    С учетом дорожных условий и обеспечения безопасности дорожного движения</a> разрешенная пунктами 88</a> и 89</a> настоящих Правил скорость движения может быть изменена (понижена или повышена) применением дорожных знаков «<a href="/pdd/ru/sign-3.24.1-2/">Ограничение максимальной скорости</a>».
    <p>Действие дорожных знаков «Ограничение максимальной скорости</a>» не распространяется на указанные в пункте 88</a> настоящих Правил транспортные средства, буксирующие механические транспортные средства, и на транспортные средства, перечисленные в подпунктах 89.4–89.7 пункта 89</a> настоящих Правил, если указанная на этих знаках величина скорости превышает ограничение максимальной скорости, установленной в данных положениях.</p>
</li>
<li>
    <a href="">91</a>. <strong></strong>
    Водителю запрещается:
</li>
<li>
    <a href="">91.1</a>. <strong></strong>
    превышать максимальную скорость движения, определенную технической характеристикой транспортного средства;
</li>
<li>
    <a href="">91.2</a>. <strong></strong>
    превышать скорость движения, установленную дорожным знаком «Ограничение максимальной скорости</a>», пунктами 88</a> и 89</a> настоящих Правил;
</li>
<li>
    <a href="">91.3</a>. <strong></strong>
    превышать скорость движения, указанную на опознавательном знаке «Ограничение скорости», установленном на транспортном средстве в соответствии с подпунктом 201.5</a> пункта 201</a> настоящих Правил;
</li>
<li>
    <a href="">91.4</a>. <strong></strong>
    создавать препятствие для дорожного движения</a>, двигаясь без вынужденной необходимости с малой скоростью, а также двигаться с меньшей скоростью, чем установлено дорожным знаком «Ограничение минимальной скорости</a>»;
</li>
<li>
    <a href="">91.5</a>. <strong></strong>
    резко тормозить, если это не требуется для предотвращения дорожно-транспортного происшествия</a>.
</li>
    </ul>
