@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 15. Преимущество маршрутных транспортных средств</h1>
<ul>
    <li>
        <a href="">123</a>. <strong></strong>
        Вне перекрестков в местах, где трамвайные пути пересекают проезжую часть дороги, трамвай имеет преимущество перед другими транспортными средствами, кроме случаев выезда из депо и мест, где очередность движения определяется дорожными знаками приоритета или сигналами светофоров.
    </li>
    <li>
        <a href="">124</a>. <strong></strong>
        На дорогах с полосой движения для маршрутных транспортных средств</a>, обозначенных дорожными знаками «Полоса для маршрутных транспортных средств</a>», «Дорога с полосой для маршрутных транспортных средств</a>», запрещаются движение, остановка и стоянка других транспортных средств на этой полосе.
        <p>Если полоса движения, обозначенная дорожным знаком «Полоса для маршрутных транспортных средств</a>», отделена от остальной проезжей части дороги прерывистой линией горизонтальной дорожной разметки, то для осуществления поворота водитель обязан перестраиваться на нее. Разрешается также в таких местах заезжать на эту полосу для посадки (высадки) пассажиров у правого края проезжей части, если это не создаст препятствия для движения маршрутных транспортных средств.</p>
    </li>
    <li>
        <a href="">125</a>. <strong></strong>
        В населенном пункте</a> водитель транспортного средства, движущегося по крайней правой полосе, должен уступить дорогу маршрутному транспортному средству, начинающему движение от обозначенного остановочного пункта, при его перестроении на крайнюю правую полосу движения.
    </li>
</ul>
