@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 22. Пользование внешними световыми приборами и звуковыми сигналами транспортных средств</h1>

<ul>
    <li>
        <a href="">162</a>. <strong></strong>
        При движении в темное время суток</a> и (или) при недостаточной видимости дороги</a> независимо от ее освещенности на транспортном средстве должны быть включены следующие световые приборы:
    </li>
    <li>
        <a href="">162.1</a>. <strong></strong>
        фары дальнего или ближнего света — на механическом транспортном средстве</a>;
    </li>
    <li>
        <a href="">162.2</a>. <strong></strong>
        фары и (или) фонари — на велосипеде</a>;
    </li>
    <li>
        <a href="">162.3</a>. <strong></strong>
        габаритные огни — на прицепе</a>, а также на буксируемом механическом транспортном средстве при отсутствии или неисправности на нем аварийной световой сигнализации.
    </li>
    <li>
        <a href="">163</a>. <strong></strong>
        Дальний свет фар должен быть переключен на ближний:
    </li>
    <li>
        <a href="">163.1</a>. <strong></strong>
        в населенном пункте</a>, если дорога освещена;
    </li>
    <li>
        <a href="">163.2</a>. <strong></strong>
        при встречном разъезде на расстоянии не менее 300 метров до транспортного средства, а также на большем расстоянии, если водитель встречного транспортного средства периодическим переключением света фар покажет необходимость этого;
    </li>
    <li>
        <a href="">163.3</a>. <strong></strong>
        если дальний свет фар будет освещать движущееся в попутном направлении транспортное средство или его водитель включением аварийной световой сигнализации покажет необходимость такого переключения;
    </li>
    <li>
        <a href="">163.4</a>. <strong></strong>
        в любых других случаях для исключения возможности ослепления водителей как встречных, так и попутных транспортных средств. При ослеплении водитель должен немедленно включить аварийную световую сигнализацию и, не перестраиваясь, снизить скорость движения и остановиться.
    </li>
    <li>
        <a href="">164</a>. <strong></strong>
        При остановке, стоянке в темное время суток</a> на неосвещенных участках дороги и (или) при ее недостаточной видимости</a> (кроме жилых зон</a>) на транспортном средстве должны быть включены габаритные или стояночные огни.
    </li>
    <li>
        <a href="">165</a>. <strong></strong>
        Противотуманные фары на транспортном средстве могут использоваться водителем:
    </li>
    <li>
        <a href="">165.1</a>. <strong></strong>
        в темное время суток</a> и (или) при недостаточной видимости дороги</a> совместно с ближним или дальним светом фар;
    </li>
    <li>
        <a href="">165.2</a>. <strong></strong>
        вместо ближнего света фар в условиях, предусмотренных пунктами 166</a> и 167</a> настоящих Правил.
    </li>
    <li>
        <a href="">166</a>. <strong></strong>
        В светлое время суток для обозначения движущегося транспортного средства должны быть включены ближний свет фар или дневные ходовые огни (при их наличии):
    </li>
    <li>
        <a href="">166.1</a>. <strong></strong>
        на мотоцикле</a> и мопеде</a>;
    </li>
    <li>
        <a href="">166.2</a>. <strong></strong>
        при движении в транспортной колонне</a>;
    </li>
    <li>
        <a href="">166.3</a>. <strong></strong>
        на маршрутном транспортном средстве</a>, движущемся по специально выделенной полосе навстречу движению;
    </li>
    <li>
        <a href="">166.4</a>. <strong></strong>
        при организованной перевозке группы детей;
    </li>
    <li>
        <a href="">166.5</a>. <strong></strong>
        при перевозке опасных грузов, движении тяжеловесных и (или) крупногабаритных транспортных средств</a>;
    </li>
    <li>
        <a href="">166.6</a>. <strong></strong>
        при буксировке (на буксирующем транспортном средстве);
    </li>
    <li>
        <a href="">166.7</a>. <strong></strong>
        во время обучения управлению механическим транспортным средством на дорогах</a>;
    </li>
    <li>
        <a href="">166.8</a>. <strong></strong>
        на механических транспортных средствах</a> при организации временного их движения по встречной полосе движения;
    </li>
    <li>
        <a href="">166.9</a>. <strong></strong>
        в период проведения Министерством внутренних дел республиканских специальных комплексных мероприятий по обеспечению безопасности дорожного движения</a>, предусматривающих движение транспортных средств в светлое время суток с включенными ближним светом фар или дневными ходовыми огнями (при их наличии).
    </li>
    <li>
        <a href="">167</a>. <strong></strong>
        При ухудшении видимости транспортного средства на дороге для его обозначения во время движения в светлое время суток могут быть включены ближний свет фар или дневные ходовые огни (при их наличии).
    </li>
    <li>
        <a href="">168</a>. <strong></strong>
        Фарой-прожектором и фарой-искателем разрешается пользоваться только вне населенных пунктов при отсутствии встречных транспортных средств. В населенных пунктах пользоваться такими фарами могут только водители транспортных средств оперативного назначения при выполнении служебного задания.
    </li>
    <li>
        <a href="">169</a>. <strong></strong>
        Задние противотуманные фонари на транспортных средствах могут применяться только при недостаточной видимости дороги.
    </li>
    <li>
        <a href="">170</a>. <strong></strong>
        Опознавательный знак «Автопоезд</a>» должен быть включен при движении автопоезда</a>, а в темное время суток</a> на неосвещенных участках дороги и (или) при ее недостаточной видимости</a>, кроме того, — и на время его остановки или стоянки.
    </li>
    <li>
        <a href="">171</a>. <strong></strong>
        Маячок оранжевого цвета должен быть включен на:
    </li>
    <li>
        <a href="">171.1</a>. <strong></strong>
        транспортном средстве</a>, самоходной машине</a> при выполнении ремонтных и других работ на дороге;
    </li>
    <li>
        <a href="">171.2</a>. <strong></strong>
        транспортном средстве, перевозящем опасные грузы, тяжеловесном и (или) крупногабаритном транспортном средстве</a>;
    </li>
    <li>
        <a href="">171.3</a>. <strong></strong>
        механическом транспортном средстве, осуществляющем сопровождение при перевозке тяжеловесных и (или) крупногабаритных грузов;
    </li>
    <li>
        <a href="">171.4</a>. <strong></strong>
        механическом транспортном средстве, специально предназначенном для транспортировки поврежденных и неисправных транспортных средств, при их погрузке, транспортировке и выгрузке;
    </li>
    <li>
        <a href="">171.5</a>. <strong></strong>
        механическом транспортном средстве, специально предназначенном в соответствии с требованиями технических нормативных правовых актов для подвоза групп детей в учреждения образования, при посадке и высадке пассажиров;
    </li>
    <li>
        <a href="">171.6</a>. <strong></strong>
        самоходной машине</a> при ее движении по дороге</a>.
    </li>
    <li>
        <a href="">172</a>. <strong></strong>
        Звуковые сигналы могут применяться только для:
    </li>
    <li>
        <a href="">172.1</a>. <strong></strong>
        предупреждения других водителей о намерении произвести обгон</a> вне населенных пунктов;
    </li>
    <li>
        <a href="">172.2</a>. <strong></strong>
        предотвращения дорожно-транспортного происшествия</a>.
    </li>
    <li>
        <a href="">173</a>. <strong></strong>
        Для предупреждения об обгоне</a> вместо звукового сигнала (или совместно с ним) может подаваться световой сигнал, который представляет собой в светлое время суток периодическое кратковременное включение и выключение света фар, а в темное время суток — периодическое переключение фар с ближнего света на дальний.
    </li>
</ul>
