@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 21. Движение гужевых транспортных средств, всадников и прогон скота</h1>

<ul>
    <li>
        <a href="">157</a>. <strong></strong>
        Водители гужевых транспортных средств</a>, всадники и погонщики скота должны быть не моложе четырнадцати лет.
    </li>
    <li>
        <a href="">158</a>. <strong></strong>
        Водителям гужевых транспортных средств, всадникам и погонщикам скота запрещается:
    </li>
    <li>
        <a href="">158.1</a>. <strong></strong>
        водить животных по дорогам общего пользования с усовершенствованным покрытием</a> вне населенных пунктов;
    </li>
    <li>
        <a href="">158.2</a>. <strong></strong>
        оставлять животных без присмотра на дороге, перегонять их через железнодорожные пути и дороги вне специально оборудованных мест, согласованных в установленном порядке, а также в темное время суток</a> и (или) при недостаточной видимости дороги</a>;
    </li>
    <li>
        <a href="">158.3</a>. <strong></strong>
        производить выпас животных в пределах полосы земли, на которой размещаются дорога и все ее сооружения.
    </li>
    <li>
        <a href="">159</a>. <strong></strong>
        При движении по дороге в темное время суток</a> и (или) при ее недостаточной видимости</a> на гужевом транспортном средстве спереди должен быть включен фонарь, излучающий белый свет, сзади — фонарь, излучающий красный свет.
    </li>
    <li>
        <a href="">160</a>. <strong></strong>
        Движение по проезжей части дороги на гужевых транспортных средствах и всадников разрешается только в один ряд на расстоянии не далее 1 метра от ее правого края. При этом:
    </li>
    <li>
        <a href="">160.1</a>. <strong></strong>
        запрещается поворачивать налево или разворачиваться на дороге, имеющей трамвайный путь, и на дороге, имеющей более одной полосы для движения в данном направлении;
    </li>
    <li>
        <a href="">160.2</a>. <strong></strong>
        допускается движение гужевых транспортных средств и всадников по обочине</a>, если это не создает препятствия для безопасного движения пешеходов</a>.
    </li>
    <li>
        <a href="">161</a>. <strong></strong>
        Водитель гужевого транспортного средства</a>, всадник при выезде со второстепенной дороги на главную в темное время суток</a>, при недостаточной видимости дороги</a> или в местах с ее ограниченной обзорностью</a> обязаны вести животное под уздцы.
    </li>
</ul>
