@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 13. Проезд перекрестков</h1>
<ul>
    <li>
        <a href="">100</a>. <strong></strong>
        При повороте налево или направо водитель обязан уступить дорогу пешеходам, переходящим (пересекающим) проезжую часть дороги (по пешеходному переходу</a>, а при его отсутствии по линии тротуаров</a> или обочин</a>), на которую он поворачивает, а также велосипедистам и всадникам, пересекающим ее соответственно по велосипедной дорожке</a> и дорожке для всадников</a>.
    </li>
    <li>
        <a href="">101</a>. <strong></strong>
        Запрещается выезжать на перекресток</a>, если образовался затор, который вынудит водителя остановиться.
    </li>
    <li>
        <a href="">102</a>. <strong></strong>
        Перекресток, на котором очередность движения определяется сигналами регулировщика или светофора, является регулируемым.
        <p>При желтом мигающем сигнале светофора, неработающих светофорах и отсутствии регулировщика перекресток является нерегулируемым и водители обязаны руководствоваться правилами проезда нерегулируемых перекрестков и дорожными знаками приоритета. Светофоры считаются неработающими, если отсутствуют сигналы одновременно во всех светофорах данного направления либо сигналы противоречат друг другу.</p>
    </li>
    <li>
        <a href="">103</a>. <strong></strong>
        При повороте налево или развороте по зеленому сигналу светофора водитель транспортного средства, за исключением трамвая</a>, обязан уступить дорогу встречным транспортным средствам, движущимся прямо или направо, и попутному трамваю. Таким же правилом должны руководствоваться между собой водители трамваев.
    </li>
    <li>
        <a href="">104</a>. <strong></strong>
        При движении в направлении стрелки, включенной в дополнительной секции одновременно с желтым или красным сигналом светофора, водитель обязан уступить дорогу транспортным средствам, движущимся с других направлений.
        <p>При включенной стрелке дополнительной секции светофора (одновременно с запрещающим сигналом) водитель, находящийся на крайней полосе проезжей части дороги, должен продолжать движение в направлении указанной стрелки, если его остановка создаст препятствие для движения транспортных средств, движущихся за ним по этой же полосе, если иной порядок движения не определен дорожными знаками «<a href="/pdd/ru/sign-5.8.1/">Направления движения по полосам</a>», «<a href="/pdd/ru/sign-5.8.2/">Направление движения по полосе</a>» или соответствующей горизонтальной дорожной разметкой.</p>
    </li>
    <li>
        <a href="">105</a>. <strong></strong>
        Если сигналы регулировщика или светофора разрешают движение одновременно трамваю и другим транспортным средствам, то трамвай имеет преимущество независимо от направления его движения. При движении по сигналу стрелки, включенной в дополнительной секции одновременно с красным или желтым сигналом светофора, водитель трамвая должен уступить дорогу транспортным средствам, движущимся с других направлений.
    </li>
    <li>
        <a href="">106</a>. <strong></strong>
        Водитель, въехавший на перекресток при разрешающем сигнале светофора, должен выехать в намеченном направлении независимо от сигнала светофора на выходе с перекрестка, при этом он обязан уступить дорогу встречным транспортным средствам, движущимся прямо или направо. Если на перекрестке перед светофорами, расположенными на пути следования водителя, имеется дорожный знак «<a href="/pdd/ru/sign-5.33/">Стоп-линия</a>» (линия горизонтальной дорожной разметки <a href="/pdd/ru/a3-1.12/">1.12</a>), водитель обязан руководствоваться сигналами каждого светофора.
    </li>
    <li>
        <a href="">107</a>. <strong></strong>
        При включении разрешающего сигнала светофора водитель должен уступить дорогу транспортным средствам, завершающим движение через перекресток, и пешеходам, не закончившим переход проезжей части дороги.
    </li>
    <li>
        <a href="">108</a>. <strong></strong>
        На перекрестке неравнозначных дорог водитель транспортного средства, движущегося по второстепенной дороге, должен уступить дорогу транспортным средствам, приближающимся к нему по главной дороге</a>, независимо от направления их дальнейшего движения.
    </li>
    <li>
        <a href="">109</a>. <strong></strong>
        В случае, когда главная дорога</a> на перекрестке меняет направление, водители транспортных средств, движущихся по главной дороге, должны руководствоваться между собой правилами проезда перекрестков равнозначных дорог. Этими же правилами руководствуются водители транспортных средств, движущихся по второстепенной дороге.
    </li>
    <li>
        <a href="">110</a>. <strong></strong>
        На перекрестке равнозначных дорог водитель транспортного средства, кроме трамвая</a>, обязан уступить дорогу транспортным средствам, приближающимся справа. Этим же правилом должны руководствоваться между собой водители трамваев. На таких перекрестках водитель трамвая имеет преимущество перед другими транспортными средствами (кроме трамваев) независимо от направления его движения.
    </li>
    <li>
        <a href="">111</a>. <strong></strong>
        При повороте налево или развороте водитель транспортного средства обязан уступить дорогу встречным транспортным средствам, движущимся по равнозначной дороге прямо или направо, и попутному трамваю. Этим же правилом должны руководствоваться между собой водители трамваев</a>. При одновременном праве на движение водители трамваев имеют преимущество перед другими транспортными средствами (кроме трамваев) независимо от направления их движения.
    </li>
    <li>
        <a href="">112</a>. <strong></strong>
        Если водитель не может определить последовательность проезда перекрестка (из-за невозможности распознать наличие покрытия на проезжей части дороги (темное время суток, грязь, снег и прочее) либо отсутствует дорожный знак приоритета в направлении движения), он должен действовать так, как если находится на второстепенной дороге.
    </li>
    <li>
        <a href="">113</a>. <strong></strong>
        На регулируемых перекрестках могут применяться информационные секции с бело-лунным мигающим сигналом на черном фоне или информационные таблички белого цвета с черными символами. Информационные секции или таблички могут размещаться под правой дополнительной секцией транспортных светофоров либо перед пешеходным переходом</a> вместе с дорожными знаками «<a href="/pdd/ru/sign-5.16.1-2/">Пешеходный переход</a>». Информационная секция или табличка не изменяет значения сигналов светофоров, требований дорожных знаков, настоящих Правил и дополнительно предупреждает водителей о необходимости уступить дорогу пешеходам, велосипедистам и водителям трамваев.
    </li>
</ul>