@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 12. Обгон, встречный разъезд</h1>
<ul>
    <li>
        <a href="">92</a>. <strong></strong>
        До начала обгона</a> водитель должен убедиться в том, что полоса движения</a>, на которую он намерен выехать, свободна и своими действиями он не создаст угрозу безопасности дорожного движения</a>, не заставит участников дорожного движения изменить направление и (или) снизить скорость движения.
    </li>
    <li>
        <a href="">93</a>. <strong></strong>
        Водителю запрещается выполнять обгон:
    </li>
    <li>
        <a href="">93.1</a>. <strong></strong>
        если водитель транспортного средства, движущегося впереди по той же полосе движения, подал сигнал левого поворота;
    </li>
    <li>
        <a href="">93.2</a>. <strong></strong>
        если следующие за ним водители начали обгон.
    </li>
    <li>
        <a href="">94</a>. <strong></strong>
        Объезд транспортного средства, водитель которого подал сигнал поворота налево и приступил к выполнению маневра, производится с правой стороны.
    </li>
    <li>
        <a href="">95</a>. <strong></strong>
        Водитель обгоняемого транспортного средства обязан с учетом дорожно-транспортной обстановки двигаться ближе к правому краю проезжей части дороги и не препятствовать обгону увеличением скорости движения или иными действиями.
    </li>
    <li>
        <a href="">96</a>. <strong></strong>
        Обгон запрещается:
    </li>
    <li>
        <a href="">96.1</a>. <strong></strong>
        в зоне действия дорожных знаков «Обгон запрещен</a>», «Обгон грузовым автомобилям запрещен</a>», на поворотах дороги, обозначенных дорожными знаками «Опасный поворот</a>», «Опасные повороты</a>», на подъемах, обозначенных дорожным знаком «Крутой подъем</a>», а также при наличии дорожной разметки 1.1</a> (за исключением обгона одиночного транспортного средства, движущегося со скоростью менее 30 км/ч), в конце подъемов и на других участках дорог с ограниченной обзорностью дороги</a>;
    </li>
    <li>
        <a href="">96.2</a>. <strong></strong>
        на  обозначенных</a> и (или) регулируемых перекрестках;
    </li>
    <li>
        <a href="">96.3</a>. <strong></strong>
        на пешеходных переходах</a> и ближе 50 метров от них в обе стороны;
    </li>
    <li>
        <a href="">96.4</a>. <strong></strong>
        транспортного средства, производящего обгон или объезд препятствия;
    </li>
    <li>
        <a href="">96.5</a>. <strong></strong>
        при недостаточной видимости дороги</a>;
    </li>
    <li>
        <a href="">96.6</a>. <strong></strong>
        на мостах, путепроводах</a>, эстакадах</a> и под ними;
    </li>
    <li>
        <a href="">96.7</a>. <strong></strong>
        на железнодорожных переездах</a> и ближе чем за 100 метров перед ними.
    </li>
    <li>
        <a href="">97</a>. <strong></strong>
        Вне населенных пунктов водитель тихоходного</a>, тяжеловесного и (или) крупногабаритного транспортного средства</a>, а также транспортного средства, конструкция которого, перевозимый груз или техническое состояние затрудняют его обгон, должен занять положение на дороге как можно правее, а при необходимости и остановиться, чтобы пропустить скопившиеся за ним транспортные средства.
    </li>
    <li>
        <a href="">98</a>. <strong></strong>
        Если встречный разъезд транспортных средств затруднен, то водитель, на стороне которого имеется препятствие для дорожного движения</a>, обязан уступить дорогу</a>.
    </li>
    <li>
        <a href="">99</a>. <strong></strong>
        На уклонах, обозначенных дорожными знаками «Крутой спуск</a>», «Крутой подъем</a>», при наличии препятствия для дорожного движения</a> уступить дорогу обязан водитель транспортного средства, движущегося на спуск.
    </li>
</ul>
