@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 14. Пешеходные переходы и остановочные пункты маршрутных транспортных средств</h1>
<ul>
    <li>
        <a href="">114</a>. <strong></strong>
        Пешеходный переход обозначается дорожными знаками «Пешеходный переход</a>» и (или) горизонтальной дорожной разметкой 1.14.1–1.14.3. Дополнительно на пешеходном переходе могут быть установлены иные технические средства организации дорожного движения.
        <p>При отсутствии горизонтальной дорожной разметки 1.14.1–1.14.3 ширина пешеходного перехода определяется расстоянием между дорожными знаками «Пешеходный переход</a>», а при установке дорожных знаков только с внешней по отношению к центру перекрестка границы пешеходного перехода — расстоянием между створом установки дорожных знаков и условной линией, соединяющей начала закруглений кромок прилегающей к тротуару</a> проезжей части дороги.</p>
    </li>
    <li>
        <a href="">115</a>. <strong></strong>
        Пешеходный переход, на котором движение пешеходов через проезжую часть дороги регулируется регулировщиком или светофором, называется регулируемым.
        <p>На регулируемом пешеходном переходе при подаче разрешающего сигнала регулировщиком или включении разрешающего сигнала светофора водитель должен уступить дорогу пешеходам, не закончившим переход проезжей части дороги.</p>
    </li>
    <li>
        <a href="">116</a>. <strong></strong>
        При подъезде к нерегулируемому пешеходному переходу водитель должен двигаться со скоростью, которая позволит при необходимости уступить дорогу</a> пешеходам.
    </li>
    <li>
        <a href="">117</a>. <strong></strong>
        Если перед пешеходным переходом остановилось (стоит) или замедлило движение транспортное средство, то водители других транспортных средств, движущихся по соседним полосам движения в попутном направлении, должны снизить скорость движения и при наличии пешеходов уступить</a> им дорогу.
    </li>
    <li>
        <a href="">118</a>. <strong></strong>
        Водителю запрещается въезжать на пешеходный переход, если образовался затор, который вынудит его остановиться на пешеходном переходе.
    </li>
    <li>
        <a href="">119</a>. <strong></strong>
        Везде, в том числе и вне пешеходных переходов, водитель должен уступить дорогу пешеходу — инвалиду по зрению, подающему сигнал тростью белого цвета либо тростью с покрытием повышенной видимости, в том числе со световозвращающим элементом (элементами). Водитель должен быть готов снизить скорость движения или остановиться, чтобы исключить вероятность наезда на таких участников дорожного движения, а также детей и пешеходов с видимыми нарушениями опорно-двигательного аппарата.
    </li>
    <li>
        <a href="">120</a>. <strong></strong>
        Водитель должен остановиться, уступив дорогу пешеходам, идущим к стоящему на остановочном пункте маршрутному транспортному средству либо от него (со стороны дверей), если посадка (высадка) пассажиров производится с проезжей части дороги или с посадочной площадки, расположенной на ней. Начинать движение разрешается только после закрытия дверей маршрутного транспортного средства и выключения на нем аварийной световой сигнализации (светового указателя правого поворота).
    </li>
    <li>
        <a href="">121</a>. <strong></strong>
        Запрещается опережать движущийся трамвай</a>, у которого включена аварийная световая сигнализация (световой указатель правого поворота), в зоне остановочного пункта трамвая, обозначенной дорожным знаком «<a href="/pdd/ru/sign-5.13.1/">Остановочный пункт трамвая</a>» и (или) горизонтальной дорожной разметкой <a href="/pdd/ru/a3-1.17.2/">1.17.2</a>.
    </li>
    <li>
        <a href="">122</a>. <strong></strong>
        Приближаясь к стоящему транспортному средству с включенной аварийной световой сигнализацией и имеющему опознавательный знак «Перевозка детей», водитель должен снизить скорость движения, при необходимости остановиться и уступить дорогу пешеходам.
    </li>
</ul>
