@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 9. Маневрирование</h1>
<ul>
<li>
    <a href="">56</a>. <strong></strong>
    Перед началом движения, перестроением, поворотом налево или направо, разворотом и остановкой водитель обязан подавать сигнал световыми указателями поворота соответствующего направления, а если они отсутствуют или неисправны либо включена аварийная световая сигнализация, — рукой, убедившись, что его действия будут безопасны и не создадут препятствия для дорожного движения</a>. При этом:
</li>
<li>
    <a href="">56.1</a>. <strong></strong>
    сигналу левого светового указателя поворота соответствует левая рука, вытянутая в сторону, или правая рука, вытянутая в сторону и согнутая в локте под прямым углом вверх;
</li>
<li>
    <a href="">56.2</a>. <strong></strong>
    сигналу правого светового указателя поворота соответствует правая рука, вытянутая в сторону, или левая рука, вытянутая в сторону и согнутая в локте под прямым углом вверх;
</li>
<li>
    <a href="">56.3</a>. <strong></strong>
    сигнал торможения подается поднятой вверх левой или правой рукой. Указанный сигнал используется также в случае торможения без намерения осуществить маневр.
</li>
<li>
    <a href="">57</a>. <strong></strong>
    Подача сигнала световыми указателями поворота или рукой должна производиться до начала маневрирования</a> (за исключением случаев движения задним ходом) таким образом, чтобы другие участники дорожного движения имели возможность безопасного продолжения движения, и прекращаться немедленно после завершения маневрирования (подача сигнала рукой может быть закончена непосредственно перед маневрированием). При этом:
</li>
<li>
    <a href="">57.1</a>. <strong></strong>
    подача сигнала не дает водителю преимущества</a>;
</li>
<li>
    <a href="">57.2</a>. <strong></strong>
    сигнал не должен подаваться, если он может ввести в заблуждение других участников дорожного движения</a>.
</li>
<li>
    <a href="">58</a>. <strong></strong>
    После остановки или стоянки водитель транспортного средства, начинающего движение, обязан уступить дорогу движущимся транспортным средствам, кроме случая, предусмотренного пунктом <a href="/pdd/ru/125/">125</a> настоящих Правил.
    <p>При съезде с проезжей части дороги водитель обязан уступить дорогу пешеходам, всадникам и велосипедистам, путь движения которых он пересекает.</p>
</li>
<li>
    <a href="">59</a>. <strong></strong>
    При перестроении, выезде на трамвайные пути, съезде с них водитель должен уступить дорогу транспортным средствам, движущимся попутно, без изменения их направления движения.
    <p>При одновременном перестроении транспортных средств, движущихся попутно, водитель должен уступить дорогу транспортному средству, находящемуся справа. Этим правилом должен руководствоваться водитель, транспортное средство которого съезжает с трамвайных путей.</p>
</li>
<li>
    <a href="">60</a>. <strong></strong>
    Перестроение транспортных средств на перекрестке запрещается, кроме перекрестка, на котором организовано круговое движение.
</li>
<li>
    <a href="">61</a>. <strong></strong>
    Перестраиваться на соседнюю полосу движения на дороге с двумя и более полосами движения в одном направлении, обозначенными горизонтальной дорожной разметкой, когда эти полосы равномерно заняты движущимися транспортными средствами, разрешается только для поворота налево или направо, разворота, остановки или объезда препятствия.
</li>
<li>
    <a href="">62</a>. <strong></strong>
    Если на дороге, имеющей две и более полосы движения в одном направлении, из-за препятствия на одной из них образовался затор, водитель каждого транспортного средства, движущегося по соседней полосе движения, должен дать возможность перестроиться на его полосу одному из стоящих в заторе транспортных средств.
</li>
<li>
    <a href="">63</a>. <strong></strong>
    Перед разворотом, поворотом налево или направо водитель обязан, не создавая препятствия</a> и опасности для движения</a> других участников дорожного движения, занять соответствующее крайнее положение</a> на проезжей части дороги, предназначенной для движения в данном направлении, кроме случаев, когда поворот при въезде на перекресток и выезде с него совершается в тех местах, где организовано круговое движение, а также в местах, где направление движения по проезжей части дороги (перекрестку) определено дорожными знаками и (или) горизонтальной дорожной разметкой.
</li>
<li>
    <a href="">64</a>. <strong></strong>
    При наличии трамвайных путей попутного направления, расположенных слева на одном уровне с проезжей частью дороги:
</li>
<li>
    <a href="">64.1</a>. <strong></strong>
    поворот нaлево или разворот должен выполняться с этих путей, если дорожными знаками «Направления движения по полосам», «Направление движения по полосе» не предписан иной порядок движения;
</li>
<li>
    <a href="">64.2</a>. <strong></strong>
    если выезд на трамвайные пути создаст препятствие для движения трамвая, водитель должен остаться на занимаемой полосе движения, не выезжая на трамвайные пути, в ожидании проезда попутного трамвая и встречных транспортных средств;
</li>
<li>
    <a href="">64.3</a>. <strong></strong>
    в случае cоздания препятствия для движения трамвая трамвайный путь по возможности должен быть освобожден. Водители транспортных средств, движущихся рядом в попутном направлении, должны предоставить возможность для этого.
</li>
<li>
    <a href="">65</a>. <strong></strong>
    Поворот налево или направо должен осуществляться таким образом, чтобы при выезде с пересечения проезжих частей дорог транспортное средство не оказалось на встречной полосе движения:
</li>
<li>
    <a href="">65.1</a>. <strong></strong>
    при повороте налево транспортное средство должно двигаться как можно ближе к центру перекрестка, если дорожными знаками (горизонтальной дорожной разметкой) не предписан иной порядок движения, при этом поворачивающее налево встречное транспортное средство должно находиться справа;
</li>
<li>
    <a href="">65.2</a>. <strong></strong>
    при повороте направо транспортное средство должно двигаться ближе к правому краю проезжей части дороги, если дорожными знаками (горизонтальной дорожной разметкой) не предписан иной порядок движения.
</li>
<li>
    <a href="">66</a>. <strong></strong>
    Если транспортное средство из-за своих габаритов либо по другим причинам не может выполнить разворот, поворот налево или направо с соблюдением требований пунктов 63, 65 и 77 настоящих Правил, допускается производить его с отступлением от этих требований, если это не создаст препятствия для движения</a> других участников дорожного движения.
</li>
<li>
    <a href="">67</a>. <strong></strong>
    Перед поворотом налево или разворотом вне перекрестка водитель транспортного средства обязан уступить дорогу встречным транспортным средствам и попутному трамваю.
</li>
<li>
    <a href="">68</a>. <strong></strong>
    Если для разворота вне перекрестка ширина проезжей части дороги недостаточна для его выполнения из крайнего левого положения, разворот допускается производить от правого края проезжей части дороги или с правой по ходу движения обочины. При этом водитель должен уступить дорогу попутным и встречным транспортным средствам.
</li>
<li>
    <a href="">69</a>. <strong></strong>
    В случаях, когда траектории движения транспортных средств пересекаются, а очередность проезда не оговорена настоящими Правилами, дорогу обязан уступить водитель, к которому транспортное средство приближается справа.
</li>
<li>
    <a href="">70</a>. <strong></strong>
    При наличии полосы торможения водитель, намеревающийся повернуть, должен своевременно перестроиться на эту полосу и снижать скорость движения только на ней.
</li>
<li>
    <a href="">71</a>. <strong></strong>
    При наличии в месте въезда на дорогу полосы разгона водитель должен двигаться по ней и перестраиваться на соседнюю полосу движения, уступая дорогу транспортным средствам, движущимся по этой дороге.
</li>
<li>
    <a href="">72</a>. <strong></strong>
    Разворот запрещается:
</li>
<li>
    <a href="">72.1</a>. <strong></strong>
    на пешеходных переходах и ближе 15 метров от них с обеих сторон, кроме случая разрешенного разворота на перекрестке;
</li>
<li>
    <a href="">72.2</a>. <strong></strong>
    в местах, где видимость дороги хотя бы в одном направлении движения менее 100 метров;
</li>
<li>
    <a href="">72.3</a>. <strong></strong>
    на остановочных пунктах маршрутных транспортных средств</a>;
</li>
<li>
    <a href="">72.4</a>. <strong></strong>
    на мостах, путепроводах</a>, эстакадах</a> и под ними;
</li>
<li>
    <a href="">72.5</a>. <strong></strong>
    на железнодорожных переездах</a>.
</li>
<li>
    <a href="">73</a>. <strong></strong>
    Движение транспортного средства задним ходом разрешается при условии, если эти действия не создадут препятствия для других участников дорожного движения и будет обеспечена безопасность дорожного движения. При необходимости водитель должен прибегнуть к помощи других лиц, которые сигнализировали бы о складывающейся ситуации позади транспортного средства.
</li>
<li>
    <a href="">74</a>. <strong></strong>
    Движение задним ходом запрещается на перекрестках (кроме перекрестков, расположенных в жилых зонах</a>) и в местах, где запрещен разворот согласно пункту 72 настоящих Правил.
</li>
    </ul>