@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 20. Движение на велосипедах и мопедах</h1>

<ul>
    <li>
        <a href="">148</a>. <strong></strong>
        Движение на велосипеде</a> должно осуществляться по велосипедной дорожке</a>, а при ее отсутствии — по обочине</a>, тротуару</a> или пешеходной дорожке</a>, не создавая препятствия для безопасного движения пешеходов. При отсутствии указанных элементов дороги или невозможности движения по ним допускается движение велосипедистов по проезжей части дороги в один ряд не далее 1 метра от ее правого края. При этом:
    </li>
    <li>
        <a href="">148.1</a>. <strong></strong>
        выезд далее 1 метра от правого края проезжей части дороги допускается лишь для объезда препятствия и в разрешенных случаях для поворота налево или разворота;
    </li>
    <li>
        <a href="">148.2</a>. <strong></strong>
        колонны велосипедистов при движении по проезжей части дороги должны быть разделены на группы не более чем по 10 велосипедистов. Расстояние между группами должно составлять не менее 100 метров;
    </li>
    <li>
        <a href="">148.3</a>. <strong></strong>
        при наличии на проезжей части дороги линии горизонтальной дорожной разметки 1.2</a>, обозначающей ее край, эта линия должна располагаться слева от велосипедиста.
    </li>
    <li>
        <a href="">149</a>. <strong></strong>
        При движении по дороге в темное время суток</a> и (или) при ее недостаточной видимости</a> на велосипеде или мопеде должны быть включены: спереди — фара (фонарь), излучающая белый свет, сзади — фонарь, излучающий красный свет.
    </li>
    <li>
        <a href="">150</a>. <strong></strong>
        Вне перекрестков на нерегулируемом пересечении велосипедной дорожки</a> с дорогой</a> велосипедист обязан уступить дорогу транспортным средствам, движущимся по этой дороге.
    </li>
    <li>
        <a href="">151</a>. <strong></strong>
        При пересечении проезжей части дороги по пешеходному переходу</a> велосипедист должен вести велосипед рядом с собой и руководствоваться требованиями, предусмотренными настоящими Правилами для движения пешеходов</a>.
    </li>
    <li>
        <a href="">152</a>. <strong></strong>
        Движение на мопеде</a> должно осуществляться по обочине</a> или проезжей части дороги</a> не далее 1 метра от правого края проезжей части. При этом выезд далее 1 метра от ее правого края допускается лишь для объезда препятствия и в разрешенных случаях для поворота налево или разворота.
    </li>
    <li>
        <a href="">153</a>. <strong></strong>
        Велосипедисту и водителю мопеда запрещается:
    </li>
    <li>
        <a href="">153.1</a>. <strong></strong>
        использовать технически неисправные велосипеды</a> и мопеды</a>, а также оборудованные с нарушением требований технических нормативных правовых актов;
    </li>
    <li>
        <a href="">153.2</a>. <strong></strong>
        двигаться, не держась за руль и (или) не держа ноги на педалях (подножках);
    </li>
    <li>
        <a href="">153.3</a>. <strong></strong>
        поворачивать налево или разворачиваться на дороге, имеющей трамвайный путь, и на дороге, имеющей более одной полосы для движения в данном направлении;
    </li>
    <li>
        <a href="">153.4</a>. <strong></strong>
        двигаться по дороге в условиях снегопада и (или) гололедицы;
    </li>
    <li>
        <a href="">153.5</a>. <strong></strong>
        перевозить пассажиров, за исключением случаев перевозки на велосипеде детей в возрасте до семи лет на дополнительном специально оборудованном сиденье или когда перевозка пассажиров предусмотрена конструкцией мопеда;
    </li>
    <li>
        <a href="">153.6</a>. <strong></strong>
        перевозить грузы, которые выступают более чем на 0,5 метра по длине или ширине за габариты транспортного средства, а также грузы, мешающие управлению этим транспортным средством.
    </li>
    <li>
        <a href="">154</a>. <strong></strong>
        Запрещается без сопровождения совершеннолетнего лица управлять на дороге лицам моложе:
    </li>
    <li>
        <a href="">154.1</a>. <strong></strong>
        четырнадцати лет — велосипедом</a> (кроме пешеходных</a> и жилых зон</a>, тротуаров</a>, велосипедных</a> и пешеходных дорожек</a>);
    </li>
    <li>
        <a href="">154.2</a>. <strong></strong>
        шестнадцати лет — мопедом</a> (кроме пешеходных</a> и жилых зон</a>).
    </li>
    <li>
        <a href="">155</a>. <strong></strong>
        Водителю мопеда</a> запрещается ездить по тротуарам</a>, велосипедным</a> и пешеходным дорожкам</a>, дорожкам для всадников</a>.
    </li>
    <li>
        <a href="">156</a>. <strong></strong>
        Запрещается буксировка велосипеда и велосипедом, за исключением велосипедного прицепа промышленного производства.
    </li>
</ul>
