@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 19. Остановка и стоянка транспортных средств</h1>

<ul>
    <li>
        <a href="">138</a>. <strong></strong>
        Остановка</a> и стоянка транспортных средств</a> разрешаются:
    </li>
    <li>
        <a href="">138.1</a>. <strong></strong>
        в специально отведенном месте, обозначенном дорожным знаком «Место стоянки</a>» («Место стоянки такси</a>», «Место отдыха</a>»);
    </li>
    <li>
        <a href="">138.2</a>. <strong></strong>
        на правой по ходу движения обочине</a>, а при отсутствии обочины или невозможности остановиться на ней — у края проезжей части дороги параллельно ему, за исключением тех мест, где с помощью дорожных знаков или дорожной разметки допускается иное расположение транспортных средств (вне населенных пунктов разрешается только остановка транспортных средств);
    </li>
    <li>
        <a href="">138.3</a>. <strong></strong>
        на левой обочине</a> дороги с односторонним движением, а при ее отсутствии или невозможности остановиться на ней — у левого края проезжей части дороги параллельно ему, за исключением тех мест, где с помощью дорожных знаков или дорожной разметки допускается иное расположение транспортных средств, при наличии там тротуара</a>, непосредственно прилегающего к проезжей части дороги, а в населенных пунктах — также на дороге с одной полосой движения для каждого направления без трамвайных путей посередине (вне населенных пунктов разрешается только остановка транспортных средств).
    </li>
    <li>
        <a href="">139</a>. <strong></strong>
        Транспортные средства разрешается ставить на стоянку с соблюдением требований дорожных знаков и горизонтальной дорожной разметки, а при их отсутствии — при условии рационального использования места стоянки, не создавая препятствия для доступа к находящимся на нем другим транспортным средствам и их последующего движения.
    </li>
    <li>
        <a href="">140</a>. <strong></strong>
        Остановка на время более 5 минут и стоянка транспортного средства, в том числе в местах, специально отведенных для отдыха, должна осуществляться с неработающим двигателем транспортного средства.
    </li>
    <li>
        <a href="">141</a>. <strong></strong>
        При вынужденной остановке транспортного средства на проезжей части дороги</a> и в местах, где остановка запрещена, водитель должен принять все возможные меры для выведения его за пределы проезжей части дороги.
        <p>Устранять возникшие технические неисправности транспортного средства по возможности необходимо вне проезжей части дороги. В случае устранения технических неисправностей транспортного средства на проезжей части дороги лицам, выполняющим такие действия, рекомендуется находиться в одежде повышенной видимости со световозвращающими элементами.</p>
    </li>
    <li>
        <a href="">142</a>. <strong></strong>
        Транспортные средства, за исключением велосипеда, мопеда, мотоцикла без бокового прицепа, толкать по проезжей части дороги запрещается (за исключением случая выведения их за пределы проезжей части дороги</a>).
    </li>
    <li>
        <a href="">143</a>. <strong></strong>
        Остановка</a> и стоянка транспортных средств</a> запрещаются:
    </li>
    <li>
        <a href="">143.1</a>. <strong></strong>
        в зоне действия соответственно дорожных знаков «Остановка запрещена</a>», «Стоянка запрещена</a>», «Стоянка запрещена по нечетным числам месяца</a>», «Стоянка запрещена по четным числам месяца</a>» и (или) линий горизонтальной дорожной разметки 1.4</a>, 1.10</a>;
    </li>
    <li>
        <a href="">143.2</a>. <strong></strong>
        в местах, где расстояние между сплошной линией горизонтальной дорожной разметки (кроме обозначающей край проезжей части дороги) и остановившимся транспортным средством составляет менее 3 метров;
    </li>
    <li>
        <a href="">143.3</a>. <strong></strong>
        на пешеходных переходах и ближе 15 метров от них на дороге в обе стороны;
    </li>
    <li>
        <a href="">143.4</a>. <strong></strong>
        на перекрестках и ближе 15 метров от края пересекаемой проезжей части дороги (кроме жилых зон</a>), за исключением стороны напротив бокового проезда трехсторонних перекрестков, имеющих сплошную линию горизонтальной дорожной разметки или сплошную разделительную полосу;
    </li>
    <li>
        <a href="">143.5</a>. <strong></strong>
        на остановочных пунктах маршрутных транспортных средств</a> и ближе 15 метров от них, кроме случаев остановки для посадки (высадки) пассажиров, если это не создаст препятствия для движения маршрутных транспортных средств;
    </li>
    <li>
        <a href="">143.6</a>. <strong></strong>
        на мостах, путепроводах, эстакадах и под ними, кроме специально оборудованных мест для стоянки;
    </li>
    <li>
        <a href="">143.7</a>. <strong></strong>
        на полосах разгона и торможения, съездах транспортных развязок в разных уровнях и въездах на них;
    </li>
    <li>
        <a href="">143.8</a>. <strong></strong>
        на железнодорожных переездах</a> и ближе 50 метров от них в обе стороны;
    </li>
    <li>
        <a href="">143.9</a>. <strong></strong>
        на поворотах дороги, обозначенных дорожными знаками «<a href="/pdd/ru/sign-1.11.1-2/">Опасный поворот</a>», «<a href="/pdd/ru/sign-1.12.1-2/">Опасные повороты</a>», в других местах с ограниченной обзорностью дороги</a> и где видимость дороги</a> менее 100 метров хотя бы в одном направлении движения;
    </li>
    <li>
        <a href="0">143.10</a>. <strong></strong>
        на проезжей части двухполосной дороги напротив стоящего на противоположной стороне дороги транспортного средства;
    </li>
    <li>
        <a href="1">143.11</a>. <strong></strong>
        на левой стороне дороги, за исключением случаев, указанных в подпункте 138.3</a> пункта 138</a> настоящих Правил;
    </li>
    <li>
        <a href="2">143.12</a>. <strong></strong>
        на трамвайных путях и в непосредственной близости от них, если это создаст препятствие для движения трамваев</a>;
    </li>
    <li>
        <a href="3">143.13</a>. <strong></strong>
        в местах, где транспортное средство закроет от других водителей сигналы светофора, дорожные знаки или другие технические средства организации дорожного движения</a>;
    </li>
    <li>
        <a href="4">143.14</a>. <strong></strong>
        на тротуарах</a>, кроме специально отведенных мест, обозначенных дорожным знаком «Место стоянки</a>» («Место стоянки такси</a>»).
        <p>Допускается остановка транспортных средств дорожно-эксплуатационной и коммунальной служб, автомобилей с наклонной белой полосой на бортах, а также других транспортных средств, обслуживающих торговые и другие организации, расположенные непосредственно у тротуаров, на время выполнения работ либо загрузки (разгрузки) транспортного средства при условии обеспечения безопасности дорожного движения;</p>
    </li>
    <li>
        <a href="5">143.15</a>. <strong></strong>
        на газонах</a> и других участках с зелеными насаждениями;
    </li>
    <li>
        <a href="6">143.16</a>. <strong></strong>
        на проездах во дворах со стороны, прилегающей к жилой застройке;
    </li>
    <li>
        <a href="7">143.17</a>. <strong></strong>
        в местах, где стоящее транспортное средство создаст препятствие для движения</a>, работы транспортных средств оперативного назначения и транспортных средств дорожно-эксплуатационной и коммунальной служб (въезды во дворы и выезды из них, проезды в арках, узкие местные проезды, места размещения контейнеров для сбора бытовых отходов и др.);
    </li>
    <li>
        <a href="8">143.18</a>. <strong></strong>
        ближе 10 метров от служебных дверей магазинов, через которые производятся погрузочно-разгрузочные работы, закрытых ворот, в том числе ворот гаражей.
    </li>
    <li>
        <a href="">144</a>. <strong></strong>
        Включение водителем аварийной световой сигнализации при преднамеренной остановке и стоянке в местах, где они запрещены, не освобождает его от ответственности за нарушение требований пункта 143</a> настоящих Правил.
    </li>
    <li>
        <a href="">145</a>. <strong></strong>
        Стоянка</a> запрещается:
    </li>
    <li>
        <a href="">145.1</a>. <strong></strong>
        вне населенных пунктов транспортных средств на проезжей части дороги</a> и на обочине</a>;
    </li>
    <li>
        <a href="">145.2</a>. <strong></strong>
        транспортных средств с технически допустимой общей массой свыше 3,5 тонны вне специально отведенных мест, обозначенных дорожным знаком «Место стоянки</a>» («Место отдыха</a>»).
    </li>
    <li>
        <a href="">146</a>. <strong></strong>
        Запрещается открывать (закрывать) двери транспортного средства или держать их открытыми, если это создаст препятствие для движения</a> других участников дорожного движения.
    </li>
    <li>
        <a href="">147</a>. <strong></strong>
        При нарушении водителями правил остановки или стоянки транспортных средств, в результате которого создано препятствие для дорожного движения или возникла угроза безопасности граждан, сотрудники ГАИ вправе произвести принудительную отбуксировку (эвакуацию) таких транспортных средств в порядке, установленном законодательными актами и принятыми в целях их реализации постановлениями Совета Министров Республики Беларусь.
        <p>При нарушении водителями правил остановки или стоянки грузовых автомобилей, автобусов, колесных тракторов, самоходных машин сотрудниками ГАИ может быть произведена блокировка колес этих транспортных средств в порядке, установленном законодательными актами и принятыми в целях их реализации постановлениями Совета Министров Республики Беларусь.</p>
    </li>
</ul>
