@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 17. Движение по автомагистрали</h1>
<ul>
<li>
    <a href="">131</a>. <strong></strong>
    Автомагистраль обозначается дорожным знаком «Автомагистраль</a>». На автомагистралях запрещается:
</li>
<li>
    <a href="">131.1</a>. <strong></strong>
    движение пешеходов</a>, гужевых транспортных средств</a>, всадников, погонщиков скота, движение на велосипедах</a>, мопедах</a>, колесных тракторах</a>, самоходных машинах</a> и транспортных средствах, которые по техническим причинам не могут развивать скорость движения более 40 км/ч;
</li>
<li>
    <a href="">131.2</a>. <strong></strong>
    остановка транспортных средств вне площадок для стоянки, обозначенных дорожными знаками «<a href="/pdd/ru/sign-5.15/">Место стоянки</a>», «<a href="/pdd/ru/sign-6.11/">Место отдыха</a>»;
</li>
<li>
    <a href="">131.3</a>. <strong></strong>
    разворот и въезд в разрывы разделительной полосы</a>, за исключением мест, обозначенных дорожными знаками «<a href="/pdd/ru/sign-5.11.1/">Место для разворота</a>», «<a href="/pdd/ru/sign-5.11.2/">Зона для разворота</a>»;
</li>
<li>
    <a href="">131.4</a>. <strong></strong>
    движение задним ходом;
</li>
<li>
    <a href="">131.5</a>. <strong></strong>
    буксировка механического транспортного средства (при его эвакуации необходимо покинуть автомагистраль на ближайшем съезде с нее);
</li>
<li>
    <a href="">131.6</a>. <strong></strong>
    обучение управлению механическим транспортным средством.
</li>
<li>
    <a href="">132</a>. <strong></strong>
    Требования настоящих Правил, установленные для движения по автомагистрали, распространяются также на дороги, обозначенные дорожным знаком «<a href="/pdd/ru/sign-5.3/">Дорога для автомобилей</a>».
</li>
    </ul>
