@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 2. Общие права и обязанности участников дорожного движения</h1>
<ul>
    <li>
        <a href="">6</a>. <strong></strong>
        Участники дорожного движения имеют право на:
    </li>
    <li>
        <a href="">6.1</a>. <strong></strong>
        обеспечение безопасных и эффективных условий дорожного движения;
    </li>
    <li>
        <a href="">6.2</a>. <strong></strong>
        получение от государственных органов и уполномоченных должностных лиц достоверной информации о безопасных условиях дорожного движения, причинах введения ограничения или запрещения движения по дорогам, качестве продукции, работ и услуг, связанных с обеспечением безопасности дорожного движения;
    </li>
    <li>
        <a href="">6.3</a>. <strong></strong>
        получение медицинской помощи в случае дорожно-транспортного происшествия;
    </li>
    <li>
        <a href="">6.4</a>. <strong></strong>
        обжалование в порядке, определенном законодательством, действий (бездействия) государственных органов, осуществляющих государственное регулирование и управление в сфере дорожного движения и обеспечения его безопасности (их должностных лиц);
    </li>
    <li>
        <a href="">6.5</a>. <strong></strong>
        возмещение причиненного им и (или) их имуществу вреда в порядке, установленном законодательством;
    </li>
    <li>
        <a href="">6.6</a>. <strong></strong>
        пользование иными правами в области дорожного движения, предусмотренными настоящими Правилами и иными актами законодательства.
    </li>
    <li>
        <a href="">7</a>. <strong></strong>
        Участники дорожного движения обязаны:
    </li>
    <li>
        <a href="">7.1</a>. <strong></strong>
        знать и соблюдать относящиеся к ним требования настоящих Правил и руководствоваться:
    </li>
    <li>
        <a href="">7.1.1</a>. <strong></strong>
        сигналами (указаниями) регулировщика (далее — сигналы регулировщика);
    </li>
    <li>
        <a href="">7.1.2</a>. <strong></strong>
        сигналами дорожных светофоров (если не определено иное, далее — светофоры), виды которых приведены в приложении 1 к настоящим Правилам;
    </li>
    <li>
        <a href="">7.1.3</a>. <strong></strong>
        дорожными знаками согласно приложению 2 к настоящим Правилам;
    </li>
    <li>
        <a href="">7.1.4</a>. <strong></strong>
        горизонтальной и вертикальной дорожной разметкой согласно приложению 3 к настоящим Правилам;
    </li>
    <li>
        <a href="">7.1.5</a>. <strong></strong>
        перечнем неисправностей транспортных средств и условий, при которых запрещается их участие в дорожном движении, согласно приложению 4 к настоящим Правилам;
    </li>
    <li>
        <a href="">7.1.6</a>. <strong></strong>
        опознавательными знаками транспортных средств согласно приложению 5 к настоящим Правилам;
    </li>
    <li>
        <a href="">7.2</a>. <strong></strong>
        не создавать препятствий и опасности для дорожного движения, действовать добросовестно, корректно, быть внимательными и взаимно вежливыми. Каждый участник дорожного движения, соблюдающий настоящие Правила, вправе рассчитывать на то, что и другие участники дорожного движения будут выполнять содержащиеся в них требования;
    </li>
    <li>
        <a href="">7.3</a>. <strong></strong>
        при сопровождении детей принимать все возможные меры по недопущению их самостоятельного выхода на проезжую часть дороги (кроме жилых и пешеходных зон);
    </li>
    <li>
        <a href="">7.4</a>. <strong></strong>
        принимать меры по недопущению загрязнения дорог и окружающей среды, не выбрасывать мусор и иные предметы вне специально отведенных мест;
    </li>
    <li>
        <a href="">7.5</a>. <strong></strong>
        исполнять другие обязанности в области дорожного движения, установленные настоящими Правилами и иными актами законодательства.
    </li>
</ul>
