@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 24. Перевозка грузов</h1>

<ul>
    <li>
        <a href="">182</a>. <strong></strong>
        Масса перевозимого груза и распределение нагрузки по осям не должны превышать величин, установленных организацией (заводом)-изготовителем для данного транспортного средства.
    </li>
    <li>
        <a href="">183</a>. <strong></strong>
        Перед началом движения и в пути следования водитель</a> обязан при наличии объективной возможности контролировать размещение, крепление и состояние груза во избежание его смещения и падения. Если размещение, крепление, состояние груза создают угрозу безопасности дорожного движения</a>, водитель должен принять меры к устранению возникшей опасности либо прекратить дальнейшее движение.
    </li>
    <li>
        <a href="">184</a>. <strong></strong>
        Перевозка груза запрещается, если он:
    </li>
    <li>
        <a href="">184.1</a>. <strong></strong>
        создает угрозу безопасности дорожного движения</a>;
    </li>
    <li>
        <a href="">184.2</a>. <strong></strong>
        ограничивает водителю обзорность дороги</a>;
    </li>
    <li>
        <a href="">184.3</a>. <strong></strong>
        затрудняет управление транспортным средством, нарушает его устойчивость;
    </li>
    <li>
        <a href="">184.4</a>. <strong></strong>
        закрывает внешние световые приборы и световозвращатели, регистрационные, временные номерные и опознавательные знаки транспортных средств, а также препятствует восприятию сигналов, подаваемых рукой при неисправных (отсутствующих) световых указателях поворотов;
    </li>
    <li>
        <a href="">184.5</a>. <strong></strong>
        создает шум, пылит, загрязняет дорогу и окружающую среду.
    </li>
    <li>
        <a href="">185</a>. <strong></strong>
        Груз, выступающий за габариты транспортного средства спереди или сзади более чем на 1 метр или сбоку более чем на 0,4 метра от внешнего края габаритного огня, должен быть обозначен опознавательными знаками «<a href="/pdd/ru/a5-9/">Крупногабаритный груз</a>», а в темное время суток</a> и (или) при недостаточной видимости дороги</a>, кроме того, спереди — фонарем, излучающим белый свет, сзади — фонарем, излучающим красный свет.
    </li>
    <li>
        <a href="">186</a>. <strong></strong>
        В соответствии со специальными разрешением на проезд тяжеловесных и (или) крупногабаритных транспортных средств</a> по автомобильным дорогам общего пользования Республики Беларусь и правилами производится движение тяжеловесного транспортного средства и транспортного средства, габаритные размеры которого с грузом или без груза превышают хотя бы один из следующих показателей (за исключением тяжеловесного и (или) крупногабаритного транспортного средства, въезжающего (въехавшего) на территорию Республики Беларусь через таможенную границу Евразийского экономического союза в Республике Беларусь и превышающего допустимую общую массу и (или) допустимую осевую массу до 10 процентов включительно):
    </li>
    <li>
        <a href="">186.1</a>. <strong></strong>
        по высоте — 4 метра от поверхности дороги;
    </li>
    <li>
        <a href="">186.2</a>. <strong></strong>
        по длине:
    </li>
    <li>
        <a href="">186.2.1</a>. <strong></strong>
        12 метров для автомобиля</a>, троллейбуса</a>, прицепа</a>;
    </li>
    <li>
        <a href="">186.2.2</a>. <strong></strong>
        13,5 метра для автобуса</a> с двумя осями, 15 метров для автобуса с более чем двумя осями;
    </li>
    <li>
        <a href="">186.2.3</a>. <strong></strong>
        18,75 метра для сочлененного автобуса, сочлененного троллейбуса;
    </li>
    <li>
        <a href="">186.2.4</a>. <strong></strong>
        20 метров для автопоезда</a>;
    </li>
    <li>
        <a href="">186.3</a>. <strong></strong>
        по ширине:
    </li>
    <li>
        <a href="">186.3.1</a>. <strong></strong>
        2,6 метра для транспортных средств с изотермическим кузовом;
    </li>
    <li>
        <a href="">186.3.2</a>. <strong></strong>
        2,75 метра для автомобилей КрАЗ, МАЗ-509А, МАЗ-543, МАЗ-5316, МАЗ-6317, МАЗ-6425, МЗКТ-6906 и их модификаций;
    </li>
    <li>
        <a href="">186.3.3</a>. <strong></strong>
        2,55 метра для других транспортных средств;
    </li>
    <li>
        <a href="">186.4</a>. <strong></strong>
        если груз выступает за габариты транспортного средства по длине на 2 метра и более, то это транспортное средство относится к категории крупногабаритных</a>.
    </li>
    <li>
        <a href="">187</a>. <strong></strong>
        Перевозка опасных грузов и использованной для их перевозки неочищенной тары производится в соответствии с правилами перевозки опасных грузов автомобильным транспортом, утвержденными Министерством по чрезвычайным ситуациям.
    </li>
</ul>
