@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 23. Перевозка пассажиров</h1>

<ul>
    <li>
        <a href="">174</a>. <strong></strong>
        При перевозке пассажиров фактическая масса транспортного средства не должна превышать технически допустимую общую массу</a> транспортного средства, установленную организацией (заводом)-изготовителем.
    </li>
    <li>
        <a href="">175</a>. <strong></strong>
        Перевозка пассажиров в кузове грузового автомобиля должна осуществляться водителями, имеющими стаж</a> управления механическим транспортным средством данной категории более трех лет и водительское удостоверение на право управления механическим транспортным средством категории «С», а при перевозке более 8 человек (включая пассажиров в кабине) — на право управления механическим транспортным средством категорий «С» и «D» (кроме перевозки пассажиров, осуществляемой в установленном порядке военнослужащими).
    </li>
    <li>
        <a href="">176</a>. <strong></strong>
        Перед поездкой водитель грузового автомобиля обязан проинструктировать пассажиров о порядке их посадки (размещения и высадки) в кузов, а также о правилах поведения во время движения.
    </li>
    <li>
        <a href="">177</a>. <strong></strong>
        Число перевозимых пассажиров в кузове грузового автомобиля с бортовой платформой, в кузове-фургоне не должно превышать количества мест, оборудованных для сидения.
        <p>Проезд в кузове грузового автомобиля с бортовой платформой или в кузове-фургоне, не оборудованных для перевозки пассажиров, разрешается только лицам, следующим за получением груза или сопровождающим его, при условии, что они обеспечены местами для сидения, расположенными ниже уровня бортов.</p>
    </li>
    <li>
        <a href="">178</a>. <strong></strong>
        Перевозка детей в легковом автомобиле, оборудованном ремнями безопасности, должна осуществляться с использованием:
        <p>
            детских удерживающих устройств, соответствующих весу и росту ребенка, – в возрасте до пяти лет;
        </p><p>
            детских удерживающих устройств, соответствующих весу и росту ребенка, иных средств (бустеров, специальных подушек для сидения, дополнительных сидений), позволяющих безопасно пристегнуть ребенка с помощью ремней безопасности, предусмотренных конструкцией транспортного средства, – в возрасте от пяти до двенадцати лет.
        </p><p>
            Допускается перевозить детей в возрасте до двенадцати лет без использования указанных в части первой настоящего пункта устройств в случае, если рост ребенка превышает 150 сантиметров, а также в автомобиле-такси.
        </p><p>Запрещается перевозка детей на переднем сиденье легкового автомобиля с использованием детских удерживающих устройств, соответствующих весу и росту ребенка, спинка которых развернута к лобовому стеклу транспортного средства, если переднее сиденье имеет подушку безопасности, за исключением случая, когда механизм фронтальной подушки безопасности отключен.</p>
    </li>
    <li>
        <a href="">179</a>. <strong></strong>
        При перевозке групп детей в автобусе каждый ребенок должен быть обеспечен отдельным посадочным местом, а в салоне должно находиться не менее одного совершеннолетнего сопровождающего на двадцать детей. На автобусе спереди и сзади устанавливается опознавательный знак «Перевозка детей</a>».
    </li>
    <li>
        <a href="">180</a>. <strong></strong>
        Водитель транспортного средства обязан осуществлять посадку (высадку) пассажиров только после полной остановки транспортного средства, а начинать движение — только с закрытыми дверями и не открывать их до полной остановки. При этом водитель маршрутного транспортного средства для посадки (высадки) пассажиров обязан останавливаться только на обозначенных остановочных пунктах.
    </li>
    <li>
        <a href="">181</a>. <strong></strong>
        Запрещается перевозить:
    </li>
    <li>
        <a href="">181.1</a>. <strong></strong>
        пассажиров с нарушением требований, изложенных в пунктах 174–180 настоящих Правил, и других требований, установленных настоящими Правилами в отношении перевозки пассажиров;
    </li>
    <li>
        <a href="">181.2</a>. <strong></strong>
        пассажиров вне салона (кабины) автомобиля</a> (кроме случаев перевозки пассажиров в кузове грузового автомобиля с бортовой платформой или в кузове-фургоне), кабины колесного трактора</a>, самоходной машины</a>, на прицепе</a>, в кузове грузового мотоцикла</a> и вне предусмотренных конструкцией мотоцикла мест для сидения;
    </li>
    <li>
        <a href="">181.3</a>. <strong></strong>
        пассажиров сверх количества, предусмотренного технической характеристикой транспортного средства;
    </li>
    <li>
        <a href="">181.4</a>. <strong></strong>
        пассажиров на учебном механическом транспортном средстве, управляемом лицом, обучаемым управлению механическим транспортным средством, за исключением случаев приема квалификационного практического экзамена на право управления механическим транспортным средством и проведения контрольных проверок учебной организации;
    </li>
    <li>
        <a href="">181.5</a>. <strong></strong>
        детей до двенадцати лет на заднем сиденье мотоцикла, мопеда;
    </li>
    <li>
        <a href="">181.6</a>. <strong></strong>
        детей на коленях у водителя, у пассажира на переднем сиденье легкового автомобиля;
    </li>
    <li>
        <a href="">181.7</a>. <strong></strong>
        детей в кузове грузового автомобиля с бортовой платформой и в кузове-фургоне.
    </li>
</ul>
