@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 6. Права и обязанности водителей и других лиц в особых случаях</h1>
<ul>
<li>
    <a href="">25</a>. <strong></strong>
    Водители транспортных средств оперативного назначения при условии обеспечения  безопасности дорожного движения могут отступать:
    <p>с включенными маячками синего или синего и красного цветов от требований светофоров, дорожных знаков и дорожной разметки, а также подпункта <a href="/pdd/ru/9.8/">9.8</a> пункта <a href="/pdd/ru/9/">9</a>, подпункта 10.4</a> пункта 10</a>, главы 9 (кроме пунктов 56</a> и 57</a>), глав 10–15, 17–19 настоящих Правил;</p><p>
    </p><p>
        без включения маячков синего или синего и красного цветов от требований подпункта 10.4 пункта 10, главы 19 настоящих Правил.
    </p><p>Этим же правом пользуются водители транспортных средств, сопровождаемых транспортными средствами оперативного назначения с включенными маячками синего или синего и красного цветов.</p>
    <p>Права и обязанности водителей и других лиц при осуществлении государственной охраны определяются настоящими Правилами с учетом особенностей, предусмотренных законодательными актами в сфере государственной охраны.</p>
</li>
<li>
    <a href="">26</a>. <strong></strong>
    При приближении транспортного средства оперативного назначения с включенным маячком синего цвета водители независимо от направления их движения должны уступить дорогу</a> и обеспечить беспрепятственный проезд указанному транспортному средству оперативного назначения, а в случае его движения в организованной транспортной колонне</a> — и другим транспортным средствам, движущимся в этой колонне.
    <p>При приближении транспортного средства оперативного назначения с включенными маячками синего и красного цветов водители попутных, а при отсутствии разделительной полосы</a> также водители и встречных транспортных средств должны остановиться на обочине</a>, а при ее отсутствии — занять крайнее правое положение</a> в правой полосе движения и остановиться.</p>
    <p>Начинать движение разрешается после проезда транспортного средства оперативного назначения с включенными маячками синего и красного цветов. При движении организованной транспортной колонны</a> в сопровождении транспортного средства оперативного назначения с включенными маячками синего и красного цветов начинать движение разрешается только после проезда замыкающего указанную колонну транспортного средства оперативного назначения с включенным маячком синего цвета (транспортного средства с опознавательным знаком «Колонна»).</p>
</li>
<li>
    <a href="">27</a>. <strong></strong>
    Водителям запрещается выполнять обгон</a> и опережение</a> транспортных средств оперативного назначения с включенными маячками синего или синего и красного цветов, двигаться по соседним полосам движения</a> с их скоростью движения, а также занимать место в организованной транспортной колонне</a> или пересекать ее.
</li>
<li>
    <a href="">28</a>. <strong></strong>
    Приближаясь к стоящему транспортному средству оперативного назначения с включенным:
</li>
<li>
    <a href="">28.1</a>. <strong></strong>
    маячком синего цвета, водитель должен снизить скорость движения, чтобы иметь возможность немедленно остановиться в случае необходимости;
</li>
<li>
    <a href="">28.2</a>. <strong></strong>
    маячком красного цвета, водитель должен остановиться, не доезжая до транспортного средства оперативного назначения. Продолжить движение можно после разрешения регулировщика</a> или выключения маячка красного цвета.
</li>
<li>
    <a href="">29</a>. <strong></strong>
    Для привлечения внимания участников дорожного движения</a> водителями транспортных средств оперативного назначения может подаваться специальный звуковой сигнал.
</li>
<li>
    <a href="">30</a>. <strong></strong>
    Водители транспортных средств дорожно-эксплуатационной службы, оборудованных маячком оранжевого цвета, при его включении в ходе выполнения работ на дороге могут отступать от требований дорожных знаков и дорожной разметки, а также подпункта <a href="/pdd/ru/9.8/">9.8</a> пункта <a href="/pdd/ru/9/">9</a>, пунктов 78–80, 82</a> и подпунктов 131.1–131.5 пункта <a href="/pdd/ru/131/">131</a> настоящих Правил при условии обеспечения безопасности дорожного движения</a>. Участники дорожного движения не должны препятствовать их работе.
    <p>Маячок оранжевого цвета, установленный на других транспортных средствах и самоходных машинах, не дает преимущества</a> в движении и служит для привлечения внимания и предупреждения участников дорожного движения о возможной опасности.</p>
</li>
<li>
    <a href="">31</a>. <strong></strong>
    Водитель</a>, являющийся участником дорожно-транспортного происшествия</a>, обязан:
</li>
<li>
    <a href="">31.1</a>. <strong></strong>
    немедленно остановиться и не принимать мер по изменению положения транспортного средства, при участии которого совершено дорожно-транспортное происшествие, включить аварийную световую сигнализацию и выставить знак аварийной остановки с соблюдением положений <a href="/pdd/ru/p8/">главы 8</a> настоящих Правил, оставаться на месте дорожно-транспортного происшествия по возможности вне проезжей части дороги;
</li>
<li>
    <a href="">31.2</a>. <strong></strong>
    принять меры по оказанию необходимой помощи пострадавшему (пострадавшим), вызвать скорую медицинскую помощь, а если это невозможно, принять меры по доставке пострадавшего (пострадавших) в ближайшую организацию здравоохранения на одном или нескольких попутных транспортных средствах (при их отсутствии доставить пострадавшего (пострадавших) на транспортном средстве, при участии которого совершено дорожно-транспортное происшествие).
    <p>Водитель, доставивший пострадавшего (пострадавших) в организацию здравоохранения, обязан сообщить в этой организации свою фамилию, регистрационный знак (временный номерной знак) транспортного средства, предъявив водительское удостоверение или документ, удостоверяющий личность, и свидетельство о регистрации транспортного средства (паспорт транспортного средства (шасси транспортного средства), и возвратиться к месту дорожно-транспортного происшествия;</p>
</li>
<li>
    <a href="">31.3</a>. <strong></strong>
    в случае необходимости доставки пострадавшего (пострадавших) в организацию здравоохранения на транспортном средстве, при участии которого совершено дорожно-транспортное происшествие, предварительно зафиксировать в присутствии очевидцев положение транспортного средства, следы и предметы, относящиеся к дорожно-транспортному происшествию;
</li>
<li>
    <a href="">31.4</a>. <strong></strong>
    записать фамилии и адреса очевидцев дорожно-транспортного происшествия, сообщить о случившемся в милицию и ожидать прибытия сотрудников ГАИ, за исключением случая, предусмотренного частью второй настоящего подпункта.
    <p>Водитель в случае дорожно-транспортного происшествия вправе не сообщать о нем в ГАИ при наличии одновременно следующих обстоятельств:</p>
    <p>— в результате дорожно-транспортного происшествия вред причинен только транспортным средствам, участвовавшим в дорожно-транспортном происшествии;</p>
    <p>— дорожно-транспортное происшествие произошло с участием двух транспортных средств, в том числе в случае остановки, вынужденной остановки, стоянки одного из них;</p>
    <p>— лица, управлявшие транспортными средствами, имеют право на управление транспортным средством соответствующей категории;</p>
    <p>— в отношении транспортных средств имеются действующие договоры обязательного страхования гражданской ответственности их владельцев;</p>
    <p>— обстоятельства причинения вреда в связи с повреждением транспортного средства в результате дорожно-транспортного происшествия, характер и перечень видимых повреждений транспортных средств не вызывают разногласий у водителей транспортных средств, участвовавших в дорожно-транспортном происшествии, и зафиксированы в извещении о дорожно-транспортном происшествии, бланк которого заполнен этими водителями транспортных средств, в соответствии с Положением о страховой деятельности в Республике Беларусь, утвержденным Указом Президента Республики Беларусь от 25 августа 2006 г. <a href="http://pravo.by/main.aspx?guid=3871&amp;p0=p30600530">№ 530 «О страховой деятельности»</a> (Национальный реестр правовых актов Республики Беларусь, 2006 г., № 143, 1/7866);</p>
    <p>— водители транспортных средств, участвовавших в дорожно-транспортном происшествии, не предъявляют претензий к состоянию друг друга (данные лица не находятся в состоянии алкогольного опьянения либо в состоянии, вызванном потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ, в результате дорожно-транспортного происшествия не причинен вред жизни или здоровью);</p>
    <p>— вред, причиненный каждому транспортному средству, участвовавшему в дорожно-транспортном происшествии, оценивается водителями данных транспортных средств в размере до 800 евро по установленному Национальным банком официальному курсу белорусского рубля по отношению к евро.</p>
    <p>Действие части второй настоящего подпункта распространяется также на случаи остановки, вынужденной остановки, стоянки одного из участвующих в дорожно-транспортном происшествии транспортных средств и присутствия его владельца на месте происшествия. При этом в случае стоянки транспортного средства для владельца транспортного средства наличие права на управление транспортным средством соответствующей категории необязательно;</p>
</li>
<li>
    <a href="">31.5</a>. <strong></strong>
    до прибытия сотрудников ГАИ принять все возможные меры по сохранению следов и предметов, относящихся к дорожно-транспортному происшествию, их ограждению и организации объезда места дорожно-транспортного происшествия.
</li>
<li>
    <a href="">32</a>. <strong></strong>
    Участнику дорожного движения</a>, являющемуся участником дорожно-транспортного происшествия</a>, запрещается:
</li>
<li>
    <a href="">32.1</a>. <strong></strong>
    оставлять место дорожно-транспортного происшествия, перемещать транспортное средство и предметы, имеющие отношение к дорожно-транспортному происшествию, кроме случаев, указанных в подпункте 31.3</a> и части второй подпункта 31.4</a> пункта 31</a> настоящих Правил;
</li>
<li>
    <a href="">32.2</a>. <strong></strong>
    потреблять алкогольные, слабоалкогольные напитки, пиво, наркотические средства, психотропные вещества, их аналоги, токсические или другие одурманивающие вещества до прохождения в установленном порядке проверки (освидетельствования) на предмет определения состояния алкогольного опьянения либо состояния, вызванного потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ;
</li>
<li>
    <a href="">32.3</a>. <strong></strong>
    вскрывать тахограф</a> без разрешения сотрудника ГАИ.
</li>
<li>
    <a href="">33</a>. <strong></strong>
    Участники дорожно-транспортного происшествия, не указанные в пункте 31</a> настоящих Правил, и его очевидцы обязаны:
</li>
<li>
    <a href="">33.1</a>. <strong></strong>
    оказать возможную помощь пострадавшему (пострадавшим);
</li>
<li>
    <a href="">33.2</a>. <strong></strong>
    записать фамилии и адреса других очевидцев дорожно-транспортного происшествия, а также регистрационные знаки (временные номерные знаки) транспортных средств, находившихся при совершении дорожно-транспортного происшествия;
</li>
<li>
    <a href="">33.3</a>. <strong></strong>
    сообщить в милицию о дорожно-транспортном происшествии;
</li>
<li>
    <a href="">33.4</a>. <strong></strong>
    находиться по возможности на месте дорожно-транспортного происшествия вне проезжей части дороги до прибытия сотрудников ГАИ, после чего сообщить им информацию о дорожно-транспортном происшествии, очевидцами которого они стали.
</li>
<li>
    <a href="">34</a>. <strong></strong>
    В случае обнаружения или создания на дороге препятствия, создающего опасность для движения</a>, участники дорожного движения</a> обязаны:
</li>
<li>
    <a href="">34.1</a>. <strong></strong>
    принять меры по его устранению;
</li>
<li>
    <a href="">34.2</a>. <strong></strong>
    при невозможности устранения препятствия обозначить его в соответствии с настоящими Правилами или иным способом, обеспечивающим безопасность дорожного движения</a>, после чего сообщить о препятствии в милицию либо дорожно-эксплуатационную или коммунальную службу.
</li>
    </ul>
