@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 8. Применение аварийной световой сигнализации, знака аварийной остановки, фонаря с мигающим красным светом</h1>
<ul>
    <li>
        <a href="">51</a>. <strong></strong>
        Аварийная световая сигнализация должна быть включена в случаях:
    </li>
    <li>
        <a href="">51.1</a>. <strong></strong>
        дорожно-транспортного происшествия</a>;
    </li>
    <li>
        <a href="">51.2</a>. <strong></strong>
        вынужденной остановки транспортного средства на проезжей части дороги и в местах, где остановка запрещена;
    </li>
    <li>
        <a href="">51.3</a>. <strong></strong>
        ослепления водителя светом фар;
    </li>
    <li>
        <a href="">51.4</a>. <strong></strong>
        буксировки механического транспортного средства (если не определено иное, далее — буксировка) — на буксируемом механическом транспортном средстве;
    </li>
    <li>
        <a href="">51.5</a>. <strong></strong>
        остановки, стоянки транспортного средства в темное время суток</a> на неосвещенных участках дороги (кроме жилых зон</a>) и (или) при недостаточной видимости дороги</a> при неисправных габаритных и стояночных огнях;
    </li>
    <li>
        <a href="">51.6</a>. <strong></strong>
        движения на транспортном средстве с технической неисправностью, указанной в <a href="/pdd/ru/a4/">приложении 4</a> к настоящим Правилам, если движение не запрещено настоящими Правилами;
    </li>
    <li>
        <a href="">51.7</a>. <strong></strong>
        предупреждения участников дорожного движения об опасности для движения</a>;
    </li>
    <li>
        <a href="">51.8</a>. <strong></strong>
        посадки (высадки) групп детей в перевозящие их автобусы — на автобусах;
    </li>
    <li>
        <a href="">51.9</a>. <strong></strong>
        приближения трамвая</a> к зоне остановочного пункта трамвая, обозначенной дорожными знаками «<a href="/pdd/ru/sign-5.13.1/">Остановочный пункт трамвая</a>», «<a href="/pdd/ru/sign-5.13.2/">Место остановки трамвая</a>» и (или) горизонтальной дорожной разметкой <a href="/pdd/ru/a3-1.17.2/">1.17.2</a>, и во время нахождения его в этой зоне — на трамваях. На трамваях, не оборудованных аварийной световой сигнализацией, должен быть включен световой указатель правого поворота.
    </li>
    <li>
        <a href="">52</a>. <strong></strong>
        Аварийную световую сигнализацию рекомендуется включать в случае движения транспортного средства задним ходом.
    </li>
    <li>
        <a href="">53</a>. <strong></strong>
        После включения аварийной световой сигнализации, а также при ее отсутствии или неисправности должен быть незамедлительно выставлен знак аварийной остановки (в темное время суток в дополнение к знаку аварийной остановки может быть выставлен фонарь с мигающим красным светом):
    </li>
    <li>
        <a href="">53.1</a>. <strong></strong>
        при дорожно-транспортном происшествии</a>;
    </li>
    <li>
        <a href="">53.2</a>. <strong></strong>
        при вынужденной остановке транспортного средства</a> на проезжей части дороги и в местах, где остановка запрещена, за исключением прекращения движения транспортного средства в связи со скоплением остановившихся на проезжей части дороги других транспортных средств (далее — затор);
    </li>
    <li>
        <a href="">53.3</a>. <strong></strong>
        в случае остановки, стоянки транспортного средства в темное время суток</a> на неосвещенных участках дороги (кроме жилых зон</a>) и (или) при недостаточной видимости дороги</a> при неисправных габаритных и стояночных огнях.
    </li>
    <li>
        <a href="">54</a>. <strong></strong>
        Знак аварийной остановки и фонарь с мигающим красным светом устанавливаются на расстоянии, обеспечивающем в конкретной дорожно-транспортной обстановке своевременное предупреждение других водителей об опасности, но не менее 15 метров от транспортного средства в населенных пунктах</a> и не менее 40 метров — вне населенных пунктов.
    </li>
    <li>
        <a href="">55</a>. <strong></strong>
        При отсутствии или неисправности аварийной световой сигнализации на буксируемом механическом транспортном средстве или транспортном средстве, движущемся с технической неисправностью, на его задней части слева должен быть закреплен знак аварийной остановки.
    </li>
</ul>
