@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 7. Сигналы регулировщика и светофоров</h1>
<ul>
    <li>
        <a href="">35</a>. <strong></strong>
        Требование регулировщика</a> об остановке транспортного средства выражается путем подачи сигнала жезлом или жестом руки, а также с помощью громкоговорящего устройства. Для дополнительного привлечения внимания участников дорожного движения регулировщиком может подаваться сигнал свистком. Водитель должен остановиться в указанном ему регулировщиком месте.
        <p>Сигналы регулировщика обязательны для исполнения участниками дорожного движения</a>, даже если они не соответствуют требованиям сигналов светофоров и других технических средств организации дорожного движения.</p>
    </li>
    <li>
        <a href="">36</a>. <strong></strong>
        Сигналы регулировщика</a> имеют следующие значения:
    </li>
    <li>
        <a href="">36.1</a>. <strong></strong>
        руки вытянуты в стороны или опущены:
    </li>
    <li>
        <a href="">36.1.1</a>. <strong></strong>
        со стороны левого и правого бока разрешено: трамваю — движение прямо, другим транспортным средствам — движение прямо и направо, пешеходам — переходить проезжую часть дороги;
    </li>
    <li>
        <a href="">36.1.2</a>. <strong></strong>
        со стороны груди и спины: движение всех транспортных средств и пешеходов запрещено;
    </li>
    <li>
        <a href="">36.2</a>. <strong></strong>
        правая рука вытянута вперед:
    </li>
    <li>
        <a href="">36.2.1</a>. <strong></strong>
        со стороны левого бока разрешено: трамваю — движение налево, другим транспортным средствам — движение во всех направлениях;
    </li>
    <li>
        <a href="">36.2.2</a>. <strong></strong>
        со стороны груди: всем транспортным средствам разрешено движение только направо;
    </li>
    <li>
        <a href="">36.2.3</a>. <strong></strong>
        со стороны правого бока и спины: движение всех транспортных средств запрещено, пешеходам разрешено переходить проезжую часть дороги за спиной регулировщика;
    </li>
    <li>
        <a href="">36.3</a>. <strong></strong>
        рука поднята вверх: движение всех транспортных средств и пешеходов запрещено во всех направлениях, кроме случаев, предусмотренных подпунктами 50.1</a> и 50.2</a> пункта 50</a> настоящих Правил.
    </li>
    <li>
        <a href="">37</a>. <strong></strong>
        Регулировщик может подавать понятные участникам дорожного движения сигналы, не указанные в пункте 36</a> настоящих Правил.
    </li>
    <li>
        <a href="">38</a>. <strong></strong>
        Светофоры относятся к техническим средствам организации дорожного движения и применяются для регулирования очередности пропуска транспортных средств и пешеходов, а также для обозначения опасных участков дорог. Светофоры подразделяются на транспортные и пешеходные.
        <p>Со светофорами может применяться дополнительное оборудование: экраны, информационные секции, информационные и обозначающие таблички, цифровые табло, кнопки включения разрешающего сигнала для пешеходов (табло вызовные пешеходные). В светофорах применяются световые сигналы зеленого, желтого, красного и бело-лунного цветов.</p>
        <p>В зависимости от назначения сигналы светофоров могут быть круглыми, в виде стрелки (стрелок), силуэта пешехода, велосипеда, трамвая и Х-образные.</p>
        <p>Светофоры с круглыми сигналами могут иметь одну или две дополнительные секции с сигналами в виде зеленой стрелки (стрелок), которые располагаются на уровне зеленого круглого сигнала.</p>
        <p>Светофоры с Х-образным красным сигналом, желтым сигналом в виде стрелки (при его наличии), направленной вправо, и зеленым сигналом в виде стрелки, направленной вниз, называются реверсивными и предназначены для регулирования движения транспортных средств по полосам проезжей части дороги, по которым направление движения может изменяться на противоположное.</p>
    </li>
    <li>
        <a href="">39</a>. <strong></strong>
        Круглые сигналы светофора имеют следующие значения:
    </li>
    <li>
        <a href="">39.1</a>. <strong></strong>
        зеленый сигнал разрешает движение;
    </li>
    <li>
        <a href="">39.2</a>. <strong></strong>
        зеленый мигающий сигнал разрешает движение и информирует, что время его действия истекает и вскоре будет включен запрещающий сигнал;
    </li>
    <li>
        <a href="">39.3</a>. <strong></strong>
        желтый сигнал предупреждает о предстоящей смене сигналов и запрещает движение, кроме случаев, указанных в подпунктах 50.1</a>, 50.2</a> пункта 50</a> и пункте 106</a> настоящих Правил;
    </li>
    <li>
        <a href="">39.4</a>. <strong></strong>
        желтый мигающий сигнал разрешает движение и информирует о наличии нерегулируемого перекрестка или пешеходного перехода, предупреждает о возможной опасности для движения</a>;
    </li>
    <li>
        <a href="">39.5</a>. <strong></strong>
        красный сигнал, в том числе мигающий (два мигающих красных сигнала), запрещает движение;
    </li>
    <li>
        <a href="">39.6</a>. <strong></strong>
        сочетание красного и желтого сигналов запрещает движение и информирует о предстоящем включении зеленого сигнала.
    </li>
    <li>
        <a href="">40</a>. <strong></strong>
        Сигналы светофора, выполненные в виде стрелок красного, желтого и зеленого цветов, имеют то же значение, что и круглые сигналы соответствующего цвета. Движение осуществляется при включении разрешающего сигнала светофора только по направлениям, указываемым стрелками. Вместо красных, желтых и зеленых стрелок в том же значении могут использоваться круглые красные, желтые и зеленые сигналы с нанесенными на них черными контурными стрелками.
        <p>При этом стрелка, разрешающая поворот налево, разрешает и разворот, если это не запрещено соответствующим дорожным знаком. Такое же значение имеет зеленая стрелка в дополнительной секции. Выключенный сигнал дополнительной секции означает запрещение движения в направлении, регулируемом этой секцией.</p>
    </li>
    <li>
        <a href="">41</a>. <strong></strong>
        Если на основной зеленый сигнал светофора нанесена черная контурная стрелка (стрелки), то она информирует водителей о наличии дополнительной секции светофора и указывает иные, чем сигнал дополнительной секции, разрешенные направления движения.
    </li>
    <li>
        <a href="">42</a>. <strong></strong>
        Если сигнал светофора выполнен в виде зеленого или красного силуэта пешехода, то его действие распространяется только на пешеходов. Зеленый сигнал разрешает, а красный запрещает движение пешеходов. При этом:
    </li>
    <li>
        <a href="">42.1</a>. <strong></strong>
        мигающий зеленый сигнал пешеходного светофора запрещает выход пешеходов на проезжую часть дороги с тротуара или островка безопасности, но разрешает пешеходам, находящимся на проезжей части, продолжить движение в том же направлении до островка безопасности (при его наличии) или завершить переход проезжей части дороги (при отсутствии островка безопасности);
    </li>
    <li>
        <a href="">42.2</a>. <strong></strong>
        если красный сигнал пешеходного светофора застал пешехода на проезжей части дороги, на которой отсутствует островок безопасности, то пешеход должен завершить переход проезжей части дороги;
    </li>
    <li>
        <a href="">42.3</a>. <strong></strong>
        если красный сигнал пешеходного светофора застал пешехода на проезжей части дороги до островка безопасности, то пешеход должен продолжить движение в том же направлении до островка безопасности и остановиться на нем;
    </li>
    <li>
        <a href="">42.4</a>. <strong></strong>
        если красный сигнал пешеходного светофора застал пешехода на островке безопасности, то пешеход должен оставаться на нем до включения разрешающего сигнала светофора;
    </li>
    <li>
        <a href="">42.5</a>. <strong></strong>
        если красный сигнал пешеходного светофора застал пешехода на проезжей части дороги после островка безопасности, то пешеход должен завершить переход проезжей части дороги;
    </li>
    <li>
        <a href="">42.6</a>. <strong></strong>
        для информирования пешеходов о том, что в период разрешенного для них движения по пешеходному переходу через переход могут двигаться транспортные средства, выполняющие на перекрестке правый и (или) левый поворот, разрешающий сигнал пешеходного светофора может быть дополнен по периметру кольцом желтого цвета;
    </li>
    <li>
        <a href="">42.7</a>. <strong></strong>
        для дополнительного информирования пешеходов о возможности пересечения проезжей части дороги световые сигналы светофоров могут быть дополнены звуковым сигналом;
    </li>
    <li>
        <a href="">42.8</a>. <strong></strong>
        для информирования пешеходов о времени ожидания разрешающего сигнала и (или) о времени, оставшемся для безопасного завершения перехода проезжей части дороги, совместно с пешеходными светофорами могут применяться цифровые табло;
    </li>
    <li>
        <a href="">42.9</a>. <strong></strong>
        при отсутствии на пешеходном переходе пешеходного светофора пешеходы должны руководствоваться сигналами транспортного светофора.
    </li>
    <li>
        <a href="">43</a>. <strong></strong>
        Если на сигналы светофора нанесены силуэты велосипеда либо под транспортным светофором установлена обозначающая табличка белого цвета с черным силуэтом велосипеда, действие сигналов такого светофора распространяется только на велосипедистов. Значения сигналов светофора для них аналогичны значению круглых сигналов, указанных в пункте 39</a> настоящих Правил.
        <p>
            Если под пешеходным светофором установлена обозначающая табличка белого цвета с черным силуэтом велосипеда, действие сигналов такого светофора распространяется и на велосипедистов.
        </p><p>
            При пересечении проезжей части по регулируемому пешеходному переходу и отсутствии светофора, регулирующего движение велосипедистов, водители велосипедов должны руководствоваться сигналами пешеходного светофора, а при его отсутствии – сигналами транспортного светофора.
        </p>
    </li>
    <li>
        <a href="">44</a>. <strong></strong>
        Красный сигнал реверсивного светофора запрещает, а зеленый разрешает движение.
        <p>При выключенных сигналах реверсивного светофора, который расположен над полосой движения, обозначенной с обеих сторон горизонтальной дорожной разметкой <a href="/pdd/ru/a3-1.9/">1.9</a>, въезд на эту полосу запрещен.</p>
        <p>Основные сигналы реверсивного светофора могут быть дополнены желтым сигналом в виде стрелки, наклоненной по диагонали вниз направо, включение которой информирует о предстоящей смене сигнала и необходимости перестроиться на полосу движения справа.</p>
    </li>
    <li>
        <a href="">45</a>. <strong></strong>
        Для регулирования движения трамваев, а также других маршрутных транспортных средств, движущихся по выделенной для них полосе движения, могут применяться светофоры:
        <p>— одноцветной сигнализации с четырьмя круглыми сигналами бело-лунного цвета, расположенными в виде буквы «Т», при этом движение разрешается только при включении одновременно нижнего сигнала и одного или нескольких верхних, из которых левый означает движение налево (на разворот для маршрутных транспортных средств, кроме трамвая), средний — прямо, правый — направо. Если включены только три верхних сигнала, движение запрещено;</p>
        <p>— двухцветной сигнализации с вертикальным или горизонтальным расположением сигналов, один из которых выполнен в виде красного силуэта трамвая на черном фоне, а другой — в виде стрелки бело-лунного цвета на черном фоне (только для регулирования движения трамваев). Бело-лунный сигнал такого светофора разрешает движение трамваев в направлении, указываемом стрелкой, красный сигнал запрещает движение трамваев в этом направлении. Светофоры могут быть дополнены табличкой белого цвета с черным силуэтом трамвая.</p>
        <p>Водители трамваев и других маршрутных транспортных средств, движущихся по выделенной для них полосе движения, должны руководствоваться сигналами светофоров, указанными в части первой настоящего пункта, в случаях применения этих светофоров совместно с иными транспортными светофорами.</p>
    </li>
    <li>
        <a href="">46</a>. <strong></strong>
        Для регулирования движения на железнодорожных переездах применяются светофоры с двумя красными сигналами или одним бело-лунным и двумя красными сигналами, которые имеют следующие значения:
    </li>
    <li>
        <a href="">46.1</a>. <strong></strong>
        мигающие красные сигналы запрещают движение транспортных средств через железнодорожный переезд. Одновременно с этими сигналами должен быть включен звуковой сигнал, который дополнительно информирует участников дорожного движения о запрещении движения через железнодорожный переезд;
    </li>
    <li>
        <a href="">46.2</a>. <strong></strong>
        мигающий бело-лунный сигнал информирует об исправности сигнализации и не запрещает движения транспортных средств;
    </li>
    <li>
        <a href="">46.3</a>. <strong></strong>
        выключенные красный и бело-лунный сигналы означают, что сигнализация не работает или неисправна. В этом случае разрешается движение транспортных средств после того, как водитель убедится в отсутствии железнодорожного транспортного средства.
    </li>
    <li>
        <a href="">47</a>. <strong></strong>
        Для обозначения нерегулируемых перекрестков и пешеходных переходов могут применяться светофоры с одним или двумя мигающими желтыми сигналами.
    </li>
    <li>
        <a href="">48</a>. <strong></strong>
        На перекрестке при запрещающем сигнале регулировщика или светофора водители должны остановиться перед дорожным знаком «<a href="/pdd/ru/sign-5.33/">Стоп-линия</a>» (линией горизонтальной дорожной разметки <a href="/pdd/ru/a3-1.12/">1.12</a>), а при ее отсутствии:
    </li>
    <li>
        <a href="">48.1</a>. <strong></strong>
        перед светофором, руководствуясь пунктом 106 настоящих Правил;
    </li>
    <li>
        <a href="">48.2</a>. <strong></strong>
        перед пешеходным переходом — при отсутствии светофора;
    </li>
    <li>
        <a href="">48.3</a>. <strong></strong>
        перед ближним к водителю краем тротуара — при отсутствии светофора и пешеходного перехода;
    </li>
    <li>
        <a href="">48.4</a>. <strong></strong>
        перед краем пересекаемой проезжей части дороги — при отсутствии светофора, пешеходного перехода и тротуара.
    </li>
    <li>
        <a href="">49</a>. <strong></strong>
        Вне перекрестка при запрещающем сигнале регулировщика или светофора (кроме реверсивного) водители должны остановиться перед дорожным знаком «<a href="/pdd/ru/sign-5.33/">Стоп-линия</a>» (линией горизонтальной дорожной разметки <a href="/pdd/ru/a3-1.12/">1.12</a>), а при его отсутствии:
    </li>
    <li>
        <a href="">49.1</a>. <strong></strong>
        на регулируемом пешеходном переходе — перед светофором, а при его отсутствии — перед пешеходным переходом;
    </li>
    <li>
        <a href="">49.2</a>. <strong></strong>
        перед железнодорожным переездом — в соответствии с пунктом 129</a> настоящих Правил;
    </li>
    <li>
        <a href="">49.3</a>. <strong></strong>
        в других местах — перед регулировщиком или светофором, не создавая препятствия</a> и опасности для дорожного движения</a>.
    </li>
    <li>
        <a href="">50</a>. <strong></strong>
        При поднятии регулировщиком руки вверх или включении желтого сигнала светофора:
    </li>
    <li>
        <a href="">50.1</a>. <strong></strong>
        водителям, которые не могут остановиться, не прибегая к экстренному торможению, в местах, определенных пунктами 48</a> и 49</a> настоящих Правил, разрешается дальнейшее движение;
    </li>
    <li>
        <a href="">50.2</a>. <strong></strong>
        пешеходам, находящимся на проезжей части дороги, разрешается продолжить движение в том же направлении до островка безопасности (при его наличии) или завершить переход проезжей части дороги (при отсутствии островка безопасности);
    </li>
    <li>
        <a href="">50.3</a>. <strong></strong>
        пешеходам запрещается:
    </li>
    <li>
        <a href="">50.3.1</a>. <strong></strong>
        выходить на проезжую часть дороги;
    </li>
    <li>
        <a href="">50.3.2</a>. <strong></strong>
        покидать островок безопасности.
    </li>
</ul>

