@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 18. Движение в жилой и пешеходной зонах, на прилегающей территории</h1>
<ul>
<li>
    <a href="">133</a>. <strong></strong>
    Движение транспортных средств в жилой</a> и пешеходной зонах</a>, на прилегающей территории</a> допускается с учетом требований настоящей главы при условии принятия водителями всех мер по обеспечению безопасности пешеходов, велосипедистов, иных участников дорожного движения.
</li>
<li>
    <a href="">134</a>. <strong></strong>
    В пешеходной зоне</a> допускается движение только транспортных средств дорожно-эксплуатационной и коммунальной служб, автомобилей с наклонной белой полосой на бортах, а также других транспортных средств, обслуживающих торговые и другие организации, расположенные в пешеходной зоне (граждан, проживающих в данной зоне), транспортных средств, принадлежащих гражданам, проживающим в этой зоне, при отсутствии иных возможностей их подъезда.
</li>
<li>
    <a href="">135</a>. <strong></strong>
    В жилой и пешеходной зонах, на прилегающей территории движение пешеходов разрешается по тротуару</a>, обочине</a> и по проезжей части дороги</a>. Пешеходы имеют преимущество перед транспортными средствами, но не должны необоснованно препятствовать их движению.
</li>
<li>
    <a href="">136</a>. <strong></strong>
    При выезде из жилой и пешеходной зон, прилегающей территории водители должны уступить дорогу транспортным средствам, движущимся по дороге, а также пешеходам, велосипедистам и всадникам, путь движения которых они пересекают.
</li>
<li>
    <a href="">137</a>. <strong></strong>
    В жилой и пешеходной зонах, на прилегающей территории водителям механических транспортных средств запрещается:
</li>
<li>
    <a href="">137.1</a>. <strong></strong>
    движение со скоростью более 20 км/ч;
</li>
<li>
    <a href="">137.2</a>. <strong></strong>
    транзитное движение;
</li>
<li>
    <a href="">137.3</a>. <strong></strong>
    обучение управлению механическим транспортным средством;
</li>
<li>
    <a href="">137.4</a>. <strong></strong>
    стоянка механического транспортного средства с известной водителю неисправностью противоугонной звуковой сигнализации, произвольно подающей непрерывные звуковые сигналы;
</li>
<li>
    <a href="">137.5</a>. <strong></strong>
    стоянка грузовых автомобилей, автобусов, колесных тракторов и самоходных машин вне специально отведенных мест, обозначенных дорожным знаком «Место стоянки</a>», если это не связано с выполнением ими работ.
</li>
    </ul>
