@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 16. Железнодорожные переезды</h1>
<ul>
    <li>
        <a href="">126</a>. <strong></strong>
        Водители могут пересекать железнодорожные пути только по железнодорожным переездам</a>, уступая дорогу железнодорожному транспортному средству.
    </li>
    <li>
        <a href="">127</a>. <strong></strong>
        При подъезде к железнодорожному переезду водитель обязан убедиться в отсутствии приближающегося железнодорожного транспортного средства и руководствоваться указаниями дежурного по железнодорожному переезду, требованиями светофоров, дорожных знаков, дорожной разметки, положением шлагбаума и звуковым сигналом.
    </li>
    <li>
        <a href="">128</a>. <strong></strong>
        Запрещается:
    </li>
    <li>
        <a href="">128.1</a>. <strong></strong>
        выезжать на железнодорожный переезд:
    </li>
    <li>
        <a href="">128.1.1</a>. <strong></strong>
        при закрытом или начинающем закрываться шлагбауме независимо от сигнала светофора;
    </li>
    <li>
        <a href="">128.1.2</a>. <strong></strong>
        при запрещающем сигнале светофора независимо от наличия и положения шлагбаума;
    </li>
    <li>
        <a href="">128.1.3</a>. <strong></strong>
        при запрещающем сигнале дежурного по железнодорожному переезду (дежурный обращен к водителю грудью или спиной с поднятым над головой фонарем, излучающим красный свет, или флажком красного цвета, либо с вытянутыми в стороны руками);
    </li>
    <li>
        <a href="">128.1.4</a>. <strong></strong>
        если за железнодорожным переездом образовался затор, который вынудит водителя остановиться на железнодорожном переезде;
    </li>
    <li>
        <a href="">128.1.5</a>. <strong></strong>
        если к железнодорожному переезду в пределах видимости приближается железнодорожное транспортное средство;
    </li>
    <li>
        <a href="">128.2</a>. <strong></strong>
        объезжать с выездом на встречную полосу движения стоящие перед железнодорожным переездом транспортные средства;
    </li>
    <li>
        <a href="">128.3</a>. <strong></strong>
        самовольно открывать шлагбаум;
    </li>
    <li>
        <a href="">128.4</a>. <strong></strong>
        провозить через железнодорожный переезд сельскохозяйственные, дорожные, строительные и другие машины и механизмы в положении, при котором они при транспортировке могут стать препятствием для дорожного движения, повредить покрытие дороги, железнодорожный путь, оборудование железнодорожного переезда, технические средства организации дорожного движения;
    </li>
    <li>
        <a href="">128.5</a>. <strong></strong>
        движение через железнодорожный переезд на электрифицированных участках транспортных средств, габаритные размеры которых с грузом или без груза превышают по высоте 4 метра от поверхности дороги, — без согласования с начальником дистанции электроснабжения организации Белорусской железной дороги;
    </li>
    <li>
        <a href="">128.6</a>. <strong></strong>
        движение через железнодорожный переезд тихоходных транспортных средств, скорость движения которых менее 8 км/ч, и саней-волокуш — без разрешения начальника дистанции пути железной дороги.
    </li>
    <li>
        <a href="">129</a>. <strong></strong>
        В случае, когда движение через железнодорожный переезд запрещено, водитель должен остановиться у дорожного знака «<a href="/pdd/ru/sign-2.5/">Движение без остановки запрещено</a>» или «<a href="/pdd/ru/sign-5.33/">Стоп-линия</a>» (линии горизонтальной дорожной разметки <a href="/pdd/ru/a3-1.12/">1.12</a>), при их отсутствии — перед светофором, при отсутствии светофора — не ближе 5 метров от шлагбаума, при отсутствии шлагбаума — у дорожного знака «<a href="/pdd/ru/sign-1.3.1/">Однопутная железная дорога</a>» или «<a href="/pdd/ru/sign-1.3.2/">Многопутная железная дорога</a>», при отсутствии технических средств организации дорожного движения — не ближе 10 метров до ближайшего рельса.
    </li>
    <li>
        <a href="">130</a>. <strong></strong>
        При вынужденной остановке транспортного средства на железнодорожном переезде водитель обязан включить аварийную световую сигнализацию, немедленно высадить пассажиров и принять меры для освобождения железнодорожного переезда.
        <p>Одновременно водитель должен при имеющейся возможности послать двух человек вдоль железнодорожных путей в обе стороны от переезда на 1 километр (если одного, то в сторону худшей видимости железнодорожного пути), объяснив им порядок подачи сигнала остановки машинисту приближающегося железнодорожного транспортного средства, а сам — оставаться возле транспортного средства и подавать сигналы общей тревоги (серии из одного длинного и трех коротких звуковых сигналов).</p>
        <p>При появлении железнодорожного транспортного средства водитель (пассажир) обязан бежать ему навстречу, подавая сигнал остановки и соблюдая меры предосторожности. Сигналом остановки служит круговое движение руки (днем — с лоскутом яркой материи или каким-либо хорошо видимым предметом, ночью — с фонарем или факелом).</p>
    </li>
</ul>
