@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 4. Права и обязанности пешеходов</h1>

<ul>
        
    <li>
        <a href="6">16</a>. <strong></strong>
        Пешеход</a> имеет право:
    </li>
    <li>
        <a href="6.1">16.1</a>. <strong></strong>
        передвигаться по дорогам в соответствии с настоящими Правилами;
    </li>
    <li>
        <a href="6.2">16.2</a>. <strong></strong>
        на преимущественное</a> пересечение проезжей части дороги</a> по нерегулируемому пешеходному переходу</a>, а также по регулируемому пешеходному переходу при разрешающем сигнале регулировщика или светофора.
    </li>
    <li>
        <a href="7">17</a>. <strong></strong>
        Пешеход</a> обязан:
    </li>
    <li>
        <a href="7.1">17.1</a>. <strong></strong>
        двигаться по тротуару</a>, пешеходной</a> или велосипедной дорожке</a>, а при их отсутствии — по обочине</a>.
        <p>В случае отсутствия указанных элементов дороги или невозможности движения пешеходов по ним допускается движение пешехода по краю ее проезжей части навстречу движению транспортных средств.</p>
        <p>При движении по краю проезжей части дороги в темное время суток пешеход должен обозначить себя световозвращающим элементом (элементами). Световозвращающие характеристики данных элементов устанавливаются техническими нормативными правовыми актами;</p>
    </li>
    <li>
        <a href="7.2">17.2</a>. <strong></strong>
        переходить (пересекать) проезжую часть дороги по подземному, надземному пешеходным переходам, а при их отсутствии, убедившись, что выход на проезжую часть дороги безопасен, — по наземному пешеходному переходу (при отсутствии наземного пешеходного перехода — на перекрестке</a> по линии тротуаров или обочин);
    </li>
    <li>
        <a href="7.3">17.3</a>. <strong></strong>
        при отсутствии в пределах видимости пешехода подземного, надземного, наземного пешеходных переходов и перекрестка переходить (пересекать) проезжую часть дороги по кратчайшей траектории на участке, где дорога хорошо просматривается в обе стороны, убедившись, что выход на проезжую часть дороги безопасен и своими действиями пешеход не создаст препятствия для движения</a> транспортных средств.
        <p>При пересечении проезжей части дороги вне подземного, надземного, наземного пешеходных переходов и перекрестка в темное время суток</a> пешеходу рекомендуется обозначить себя световозвращающим элементом (элементами).</p>
    </li>
    <li>
        <a href="8">18</a>. <strong></strong>
        Пешеходу</a> запрещается:
    </li>
    <li>
        <a href="8.1">18.1</a>. <strong></strong>
        двигаться по краю проезжей части дороги при наличии тротуара</a>, пешеходной</a> или велосипедной дорожки</a>, обочины</a>, по которым возможно движение пешеходов, за исключением случаев, указанных в пунктах 21</a> и <a href="/pdd/ru/135/">135</a> настоящих Правил;
    </li>
    <li>
        <a href="8.2">18.2</a>. <strong></strong>
        задерживаться и останавливаться на проезжей части дороги, в том числе на линии горизонтальной дорожной разметки, разделяющей встречные и попутные потоки транспортных средств, за исключением остановки на островках безопасности</a>;
    </li>
    <li>
        <a href="8.3">18.3</a>. <strong></strong>
        переходить (пересекать) проезжую часть вне подземного, надземного, наземного пешеходных переходов на участке дороги:
    </li>
    <li>
        <a href="8.3.1">18.3.1</a>. <strong></strong>
        с разделительной зоной</a>, разделительной полосой</a>;
    </li>
    <li>
        <a href="8.3.2">18.3.2</a>. <strong></strong>
        с общим числом полос движения</a> шесть и более;
    </li>
    <li>
        <a href="8.3.3">18.3.3</a>. <strong></strong>
        где установлены дорожные ограждения;
    </li>
    <li>
        <a href="8.4">18.4</a>. <strong></strong>
        выходить на проезжую часть дороги из-за стоящего транспортного средства или иного объекта, ограничивающего обзорность дороги</a>, не убедившись в отсутствии приближающихся транспортных средств.
    </li>
    <li>
        <a href="9">19</a>. <strong></strong>
        В темное время суток</a> и (или) при недостаточной видимости дороги</a> в случае движения по обочине или по краю проезжей части дороги пешеход, ведущий велосипед, мопед, мотоцикл без бокового прицепа, обозначенный габаритными огнями, сигнальными фонарями или световозвращателями (световозвращающими лентами), должен двигаться по ходу движения транспортных средств.
    </li>
    <li>
        <a href="0">20</a>. <strong></strong>
        При приближении транспортного средства с включенными маячками синего или синего и красного цветов пешеходу запрещается переходить (пересекать) проезжую часть дороги, а пешеход, находящийся на проезжей части дороги, должен покинуть ее, соблюдая меры предосторожности.
    </li>
    <li>
        <a href="1">21</a>. <strong></strong>
        Движение организованной пешеходной колонны</a> по проезжей части дороги разрешается только по направлению движения транспортных средств по правой стороне не более чем по четыре человека в ряд. В светлое время суток впереди и сзади с левой стороны этой колонны должны быть сопровождающие с флажками красного цвета, а в темное время суток</a> и (или) при недостаточной видимости дороги</a> впереди — сопровождающие с фонарем, излучающим белый свет, и сзади — излучающим красный свет.
    </li>
    <li>
        <a href="2">22</a>. <strong></strong>
        Группы детей разрешается водить только по тротуарам</a>, пешеходным</a> и велосипедным дорожкам</a>, а при их отсутствии — по обочинам навстречу движению транспортных средств и только в светлое время суток. При этом их передвижение осуществляется колонной не более чем по двое детей в ряд в сопровождении совершеннолетних из расчета не менее одного сопровождающего на двадцать детей.
    </li>
</ul>
