@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 27. Обязанности должностных и иных лиц по обеспечению безопасности дорожного движения</h1>

<ul>
    <li>
        <a href="">208</a>. <strong></strong>
        Должностным и иным лицам транспортных и других организаций, ответственным за техническое состояние и эксплуатацию транспортных средств, запрещается допускать их к участию в дорожном движении</a> и допускать водителей</a> к управлению транспортными средствами с нарушением требований, установленных настоящими Правилами и иными актами законодательства.
    </li>
    <li>
        <a href="">209</a>. <strong></strong>
        Должностные и иные лица, ответственные за эксплуатацию дорог</a>, дорожных сооружений, железнодорожных переездов</a> и технических средств организации дорожного движения</a>, обязаны:
    </li>
    <li>
        <a href="">209.1</a>. <strong></strong>
        содержать дороги</a>, дорожные сооружения, железнодорожные переезды</a> и технические средства организации дорожного движения</a> в соответствии с требованиями технических нормативных правовых актов в состоянии, безопасном для дорожного движения</a>;
    </li>
    <li>
        <a href="">209.2</a>. <strong></strong>
        своевременно принимать меры к ограничению или запрещению движения транспортных средств по дорогам или их отдельным участкам с предварительным информированием ГАИ.
    </li>
    <li>
        <a href="">210</a>. <strong></strong>
        Должностные лица дорожных, строительных и других организаций, а также граждане, осуществляющие на дороге ремонтные и другие работы, обязаны:
    </li>
    <li>
        <a href="">210.1</a>. <strong></strong>
        организовать обозначение мест проведения на дороге</a> и (или) прилегающей территории</a> ремонтных и других работ, оставленных на дороге и (или) прилегающей территории дорожно-строительных машин, строительных материалов, конструкций и иных объектов дорожными знаками, ограждающими и направляющими устройствами, указателями объезда, а в темное время суток</a> и (или) при недостаточной видимости дороги</a> — дополнительно фонарями, излучающими красный или желтый свет;
    </li>
    <li>
        <a href="">210.2</a>. <strong></strong>
        после окончания на дороге</a> и (или) прилегающей территории</a> ремонтных и других работ принять безотлагательные меры по ее приведению в состояние, обеспечивающее беспрепятственное и безопасное дорожное движение</a>;
    </li>
    <li>
        <a href="">210.3</a>. <strong></strong>
        принимать меры по предотвращению загрязнения дорог</a>.
    </li>
    <li>
        <a href="">211</a>. <strong></strong>
        Работники дорожных, строительных и других организаций, а также граждане при проведении на дороге ремонтных и других работ должны находиться в одежде повышенной видимости, описание которой определяется Министерством транспорта и коммуникаций.
    </li>
    <li>
        <a href="">212</a>. <strong></strong>
        Дорожно-эксплуатационные и коммунальные службы должны принимать незамедлительные меры по ликвидации последствий, возникших на дороге в результате чрезвычайных и иных ситуаций, снижающих безопасность дорожного движения</a>, а также по эвакуации транспортных средств, поврежденных в результате дорожно-транспортных происшествий</a>. Органы и подразделения по чрезвычайным ситуациям участвуют в ликвидации чрезвычайных ситуаций, возникших на дороге в результате дорожно-транспортных происшествий.
    </li>
</ul>
