@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 10. Расположение транспортных средств на проезжей части дороги</h1>
<ul>
<li>
    <a href="">75</a>. <strong></strong>
    Количество полос движения</a> для транспортных средств (за исключением трамваев и одноколейных транспортных средств</a>) определяется дорожными знаками «Направления движения по полосам</a>», «Направление движения по полосе</a>», «Направление движения по полосам</a>» и (или) горизонтальной дорожной разметкой, а если их нет, то самими водителями с учетом ширины проезжей части дороги, габаритов транспортных средств и необходимых боковых интервалов между ними.
    <p>При отсутствии дорожных знаков и горизонтальной дорожной разметки половина ширины проезжей части дороги, расположенная слева, считается ее встречной стороной. На дороге с односторонним движением половина ширины проезжей части дороги, расположенная слева, считается левой стороной проезжей части.</p>
</li>
<li>
    <a href="">76</a>. <strong></strong>
    На дороге с двусторонним движением при наличии в направлении движения двух и более полос движения запрещается выезжать на встречную полосу движения.
</li>
<li>
    <a href="">77</a>. <strong></strong>
    На дороге с двусторонним движением, имеющей три полосы движения, обозначенные горизонтальной дорожной разметкой (за исключением горизонтальной дорожной разметки 1.9</a>), из которых средняя полоса движения используется для движения в обоих направлениях, перестраиваться на эту полосу разрешается только для обгона</a>, объезда препятствия, поворота налево или разворота, при этом поворот налево или разворот должен осуществляться с этой полосы. Перестраиваться на встречную крайнюю левую полосу движения запрещается.
</li>
<li>
    <a href="">78</a>. <strong></strong>
    Если дорожными знаками запрещено движение велосипедистов, всадников и гужевых транспортных средств, водители транспортных средств должны вести их по возможности ближе к правому краю проезжей части дороги (линии горизонтальной дорожной разметки 1.2</a>, обозначающей край проезжей части дороги).
    <p>Если такое запрещение отсутствует, то водители должны вести транспортное средство по возможности ближе к левому краю в пределах правой крайней полосы движения.</p>
</li>
<li>
    <a href="">79</a>. <strong></strong>
    При движении перестраиваться на другую полосу движения можно только перед обгоном, опережением, объездом препятствия, поворотом налево или направо, разворотом либо остановкой. При этом:
</li>
<li>
    <a href="">79.1</a>. <strong></strong>
    вне населенных пунктов запрещается занимать левые полосы движения при свободных правых;
</li>
<li>
    <a href="">79.2</a>. <strong></strong>
    при трех и более полосах движения в данном направлении занимать крайнюю левую полосу движения разрешается только тогда, когда заняты другие полосы движения, либо для опережения, объезда препятствия, поворота налево или разворота, а также для остановки, стоянки на левой стороне дороги с односторонним движением в случае, указанном в подпункте 138.3</a> пункта 138</a> настоящих Правил;
</li>
<li>
    <a href="">79.3</a>. <strong></strong>
    при трех и более полосах движения в данном направлении запрещается производить перестроение на крайнюю правую полосу движения в целях опережения по ней;
</li>
<li>
    <a href="">79.4</a>. <strong></strong>
    грузовые автомобили с технически допустимой общей массой более 3,5 тонны, колесные тракторы и самоходные машины могут перестраиваться в другие полосы движения левее второй полосы только для объезда препятствия, поворота налево или разворота, а также для остановки, стоянки на левой стороне дороги с односторонним движением в случае, указанном в подпункте <a href="/pdd/ru/138.3/">138.3</a> пункта <a href="/pdd/ru/138/">138</a> настоящих Правил;
</li>
<li>
    <a href="">79.5</a>. <strong></strong>
    в населенных пунктах</a> маршрутные транспортные средства</a>, выполняющие городские перевозки в регулярном сообщении, должны двигаться по выделенной для них полосе движения, а при ее отсутствии — по крайней правой полосе движения. Перестраиваться на другие полосы движения можно только для объезда препятствия, поворота налево или разворота. Маршрутным транспортным средствам, выполняющим городские перевозки в регулярном сообщении, разрешается опережение транспортных средств, движущихся по крайней правой полосе движения со скоростью менее 40 км/ч, по второй справа полосе движения;
</li>
<li>
    <a href="">79.6</a>. <strong></strong>
    в случае возникновения затора, препятствующего движению транспортных средств оперативного назначения, водители должны обеспечить «коридор безопасности», по которому разрешается проезд только указанных транспортных средств. Для этого транспортные средства, находящиеся в крайней левой полосе движения, должны занять в этой полосе крайнее правое положение.
</li>
<li>
    <a href="">80</a>. <strong></strong>
    Транспортные средства, скорость движения которых не должна превышать 40 км/ч или которые по техническим причинам не могут развивать более высокую скорость движения по сравнению с указанной, должны двигаться по крайней правой полосе движения, кроме случаев обгона, опережения, объезда препятствия либо перестроения перед поворотом или разворотом.
</li>
<li>
    <a href="">81</a>. <strong></strong>
    Движение по трамвайным путям попутного направления, расположенным слева на одном уровне с проезжей частью дороги, разрешается только для опережения (вне обозначенных и регулируемых перекрестков), объезда препятствия при условии, что все полосы движения в данном направлении заняты, а также для поворота налево или разворота в соответствии с пунктом 64</a> настоящих Правил. При этом запрещается выезжать на трамвайные пути встречного направления и осуществлять движение по ним, а также движение по трамвайным путям попутного направления при наличии конструктивно выделенной над проезжей частью дороги посадочной площадки, с которой осуществляется посадка (высадка) пассажиров в трамвай.
</li>
<li>
    <a href="">82</a>. <strong></strong>
    На дороге, проезжая часть которой разделена на полосы движения линиями горизонтальной дорожной разметки, движение транспортных средств должно осуществляться строго по этим полосам. Наезжать на прерывистые линии горизонтальной дорожной разметки разрешается только при маневрировании.
</li>
<li>
    <a href="">83</a>. <strong></strong>
    При повороте на дорогу с реверсивным движением водитель должен управлять транспортным средством таким образом, чтобы при выезде с пересечения проезжих частей дорог транспортное средство заняло крайнюю правую полосу движения. Перестроение можно производить только после того, как водитель убедится, что движение в данном направлении разрешается и по другим полосам движения.
</li>
<li>
    <a href="">84</a>. <strong></strong>
    Запрещается движение транспортных средств по обочинам, тротуарам, велосипедным, пешеходным дорожкам и дорожкам для всадников, за исключением случаев, указанных в части второй пункта 26</a>, пунктах 68</a>, 138</a>, 148</a>, 152</a> и подпункте 160.2</a> пункта 160</a> настоящих Правил. Допускается движение по указанным элементам дороги транспортных средств дорожно-эксплуатационной и коммунальной служб, автомобилей с наклонной белой полосой на бортах, а также других транспортных средств, обслуживающих торговые и другие организации, расположенные непосредственно у обочин, тротуаров, велосипедных, пешеходных дорожек, дорожек для всадников или пешеходных зон, при отсутствии других возможностей подъезда. При этом должна быть обеспечена безопасность дорожного движения</a>.
</li>
<li>
    <a href="">85</a>. <strong></strong>
    Водитель обязан соблюдать такую дистанцию до движущегося впереди транспортного средства, которая позволила бы избежать столкновения в случае его экстренного торможения или остановки, и необходимый боковой интервал, обеспечивающий безопасность дорожного движения с транспортными средствами, стоящими или движущимися по соседним полосам движения.
</li>
<li>
    <a href="">86</a>. <strong></strong>
    На дороге вне населенного пункта водитель транспортного средства длиной более 10 метров или скорость движения которого не должна превышать 40 км/ч, либо которое по техническим причинам не может развивать более высокую скорость движения по сравнению с указанной, обязан поддерживать между управляемым им транспортным средством и движущимся впереди транспортным средством дистанцию, позволяющую обгоняющим их транспортным средствам беспрепятственно перестроиться на ранее занимаемую полосу движения.
    <p>Это правило не действует в случаях, когда водители указанных транспортных средств совершают обгон или готовятся к нему, а также при движении в колонне из трех и более транспортных средств, обозначенных опознавательными знаками «Колонна», и в организованной транспортной колонне</a>.</p>
</li>
    </ul>
