@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}

<div>
    <h1>Глава 1. Общие положения</h1>

    <ul>
        <li>
            <a href="">1</a>. <strong></strong>
            Настоящими Правилами определяется порядок движения на дорогах Республики Беларусь.
        </li>
        <li>
            <a href="">2</a>. <strong></strong>
            В настоящих Правилах применяются следующие основные термины и понятия:
        </li>
        <li>
            <a href="">2.1</a>. <strong></strong>
            <strong>автобус</strong> — автомобиль с числом мест для сидения более девяти, включая место водителя;
        </li>
        <li>
            <a href="">2.2</a>. <strong></strong>
            <strong>автомобиль</strong> — механическое транспортное средство, имеющее не менее четырех колес, расположенных не менее чем на двух осях, за исключением колесных тракторов и самоходных машин. К автомобилям приравниваются квадрициклы (мотоколяски) — четырехколесные механические транспортные средства, имеющие приводы управления автомобильного типа и массу в снаряженном состоянии не более 550 килограммов;
        </li>
        <li>
            <a href="">2.3</a>. <strong></strong>
            <strong>автопоезд</strong> — состав транспортных средств, состоящий из автомобиля (колесного трактора) и буксируемого им прицепа, прицепа-роспуска, полуприцепа (если не указано иное, далее — прицеп);
        </li>
        <li>
            <a href="">2.4</a>. <strong></strong>
            <strong>безопасность дорожного движения</strong> — состояние дорожного движения, обеспечивающее минимальную вероятность возникновения опасности для движения и дорожно-транспортного происшествия;
        </li>
        <li>
            <a href="">2.5</a>. <strong></strong>
            <strong>велосипед, веломобиль</strong> (далее — велосипед) — транспортное средство, за исключением инвалидных колясок, приводимое в движение мускульной силой человека (людей), находящегося на (в) нем;
        </li>
        <li>
            <a href="">2.6</a>. <strong></strong>
            <strong>велосипедная дорожка</strong> — обособленная дорога либо выделенный конструктивно или с помощью линий горизонтальной дорожной разметки элемент дороги, предназначенные для движения водителей велосипедов (далее — велосипедисты), обозначенный дорожным знаком «Велосипедная дорожка»;
        </li>
        <li>
            <a href="">2.7</a>. <strong></strong>
            <strong>видимость дороги</strong> — максимальное расстояние в направлении движения, на котором с места водителя можно распознать элементы дороги и технические средства организации дорожного движения перед транспортным средством и правильно ориентироваться при управлении им;
        </li>
        <li>
            <a href="">2.8</a>. <strong></strong>
            <strong>водитель</strong> — физическое лицо, управляющее транспортным средством, самоходной машиной, за исключением лица, обучаемого управлению механическим транспортным средством, самоходной машиной (сдающего квалификационный практический экзамен на право управления механическим транспортным средством, самоходной машиной). К водителю приравниваются лицо, обучающее управлению механическим транспортным средством, самоходной машиной (принимающее квалификационный практический экзамен на право управления механическим транспортным средством, самоходной машиной) и при этом находящееся в нем (ней), а также всадник, погонщик скота;
        </li>
        <li>
            <a href="">2.9</a>. <strong></strong>
            <strong>вынужденная остановка транспортного средства</strong> — прекращение движения транспортного средства из-за его технической неисправности или опасности, создаваемой участниками дорожного движения, перевозимым грузом, состоянием водителя (пассажира), появлением объекта, препятствующего дорожному движению;
        </li>
        <li>
            <a href="">2.10</a>. <strong></strong>
            <strong>газон</strong> — участок земли с естественным или искусственно созданным растительным, преимущественно травяным, покровом;
        </li>
        <li>
            <a href="">2.11</a>. <strong></strong>
            <strong>главная дорога</strong> — дорога, обозначенная дорожными знаками «Главная дорога», «Пересечение со второстепенной дорогой», «Примыкание второстепенной дороги», «Автомагистраль» или «Дорога для автомобилей», по отношению к пересекаемой (примыкающей), дорога с усовершенствованным покрытием по отношению к дороге без такого покрытия, дорога с гравийным покрытием по отношению к грунтовой, любая дорога по отношению к выездам с >прилегающих территорий или жилых зон. Наличие на второстепенной дороге непосредственно перед перекрестком участка с покрытием (усовершенствованным или гравийным) не делает ее равной по значению с пересекаемой;
        </li>
        <li>
            <a href="">2.12</a>. <strong></strong>
            <strong>государственный технический осмотр</strong> — совокупность организационно-технических мер, направленных на недопущение к участию в дорожном движении транспортных средств, не соответствующих требованиям международных правовых документов, касающихся безопасности колесных транспортных средств, предметов оборудования и частей, которые могут быть установлены и (или) использованы на колесных транспортных средствах, обязательным для соблюдения требованиям технических нормативных правовых актов Республики Беларусь в этой сфере (далее – технические нормативные правовые акты);
        </li>
        <li>
            <a href="">2.13</a>. <strong></strong>
            <strong>гужевое транспортное средство</strong> — транспортное средство, приводимое в движение мускульной силой животного (животных);
        </li>
        <li>
            <a href="">2.14</a>. <strong></strong>
            <strong>дети</strong> — несовершеннолетние участники дорожного движения, возраст которых известен либо очевиден по внешним признакам другим участникам дорожного движения;
        </li>
        <li>
            <a href="">2.15</a>. <strong></strong>
            <strong>дорога</strong> — комплекс инженерных сооружений либо полоса земли, предназначенные и используемые для движения в установленном порядке транспортных средств и пешеходов;
        </li>
        <li>
            <a href="">2.16</a>. <strong></strong>
            <strong>дорожка для всадников</strong> — полоса земли, предназначенная для движения в установленном порядке всадников, обозначенная дорожным знаком «Дорожка для всадников»;
        </li>
        <li>
            <a href="">2.17</a>. <strong></strong>
            <strong>дорожное движение</strong> — движение пешеходов и (или) транспортных средств по дороге, в том числе стоянка и остановка в пределах дороги, и связанные с ним общественные отношения;
        </li>
        <li>
            <a href="">2.18</a>. <strong></strong>
            <strong>дорожно-транспортное происшествие</strong> — происшествие, совершенное с участием хотя бы одного находившегося в движении механического транспортного средства, в результате которого причинен вред жизни или здоровью физического лица, его имуществу либо имуществу юридического лица;
        </li>
        <li>
            <a href="">2.19</a>. <strong></strong>
            <strong>железнодорожное транспортное средство</strong> — локомотив, электропоезд, дизель-поезд, автомотриса, иное транспортное средство, предназначенное для перевозки пассажиров и грузов по железнодорожному пути;
        </li>
        <li>
            <a href="">2.20</a>. <strong></strong>
            <strong>железнодорожный переезд</strong> — пересечении дороги с железнодорожными путями на одном уровне;
        </li>
        <li>
            <a href="">2.21</a>. <strong></strong>
            <strong>жилая зона</strong> — территория, въезды на которую и выезды с которой обозначены дорожными знаками «Жилая зона» и «Конец жилой зоны», а также дворовая территория, прилегающая к жилой застройке;
        </li>
        <li>
            <a href="">2.22</a>. <strong></strong>
            <strong>колесный трактор</strong> — механическое транспортное средство для выполнения разнообразных технологических операций с помощью навесных, полунавесных и прицепных машин или орудий, а также для привода стационарных машин или движения в составе с прицепом;
        </li>
        <li>
            <a href="">2.23</a>. <strong></strong>
            <strong>крайнее правое (левое) положение на проезжей части дороги</strong> — положение транспортного средства на проезжей части дороги, предназначенной для движения в данном направлении, не дающее возможности движения даже одноколейных транспортных средств соответственно правее (левее) в попутном направлении;
        </li>
        <li>
            <a href="">2.24</a>. <strong></strong>
            <strong>маневрирование (маневр)</strong> — начало движения, перестроение транспортного средства в движении из одной полосы движения в другую (далее — перестроение), а также его поворот направо или налево, разворот, съезд с проезжей части дороги, движение задним ходом;
        </li>
        <li>
            <a href="">2.25</a>. <strong></strong>
            <strong>маршрутное транспортное средство</strong> — механическое транспортное средство (автобус, троллейбус, трамвай, иное транспортное средство, осуществляющее движение в регулярном обычном, скоростном сообщении, в том числе экспрессном), движущееся по установленному маршруту с обозначенными остановочными пунктами;
        </li>
        <li>
            <a href="">2.26</a>. <strong></strong>
            <strong>механическое транспортное средство</strong> — транспортное средство, приводимое в движение двигателем;
        </li>
        <li>
            <a href="">2.27</a>. <strong></strong>
            <strong>мопед</strong> — механическое транспортное средство, приводимое в движение двигателем с рабочим объемом до 50 куб. сантиметров и имеющее максимальную конструктивную скорость движения, определенную его технической характеристикой, не более 50 км/ч. К мопедам приравниваются велосипеды с подвесным двигателем, мокики и другие механические транспортные средства с аналогичными характеристиками;
        </li>
        <li>
            <a href="">2.28</a>. <strong></strong>
            <strong>мотоцикл</strong> — двухколесное механическое транспортное средство с боковым прицепом или без него, приводимое в движение двигателем с рабочим объемом 50 куб. сантиметров и более. К мотоциклам приравниваются трехколесные механические транспортные средства, имеющие массу в снаряженном состоянии не более 400 килограммов, а также механические транспортные средства, оборудованные двигателем с рабочим объемом до 50 куб. сантиметров, имеющие максимальную конструктивную скорость движения, определенную их технической характеристикой, более 50 км/ч;
        </li>
        <li>
            <a href="">2.29</a>. <strong></strong>
            <strong>населенный пункт</strong> — территория, въезды на которую и выезды с которой обозначены дорожными знаками «Начало населенного пункта» и «>Конец населенного пункта» или дорожными знаками «Начало границы населенного пункта» и «Конец границы населенного пункта»;
        </li>
        <li>
            <a href="">2.30</a>. <strong></strong>
            <strong>недостаточная видимость дороги</strong> — видимость дороги в направлении движения менее 300 метров, обусловленная погодными (метеорологическими) условиями (дождь, снег и иные атмосферные осадки) и другими факторами, снижающими прозрачность атмосферы (пыль, дым, туман, смог);
        </li>
        <li>
            <a href="">2.31</a>. <strong></strong>
            <strong>обгон</strong> — опережение одного или нескольких движущихся транспортных средств, связанное с выездом на встречную полосу движения (сторону проезжей части дороги);
        </li>
        <li>
            <a href="">2.32</a>. <strong></strong>
            <strong>обзорность дороги</strong> — объективная возможность видеть дорожную обстановку с места водителя;
        </li>
        <li>
            <a href="">2.33</a>. <strong></strong>
            <strong>обозначенный перекресток</strong> — перекресток, перед которым на данной дороге установлен дорожный знак (знаки) приоритета;
        </li>
        <li>
            <a href="">2.34</a>. <strong></strong>
            <strong>обочина</strong> — выделенный конструктивно или сплошной линией горизонтальной дорожной разметки элемент дороги, примыкающий непосредственно к внешнему краю проезжей части, расположенный с ней на одном уровне и не предназначенный для движения транспортных средств, кроме случаев, предусмотренных настоящими Правилами;
        </li>
        <li>
            <a href="">2.35</a>. <strong></strong>
            <strong>ограниченная обзорность дороги</strong> — обзорность дороги, ограниченная геометрическими параметрами дороги, придорожными инженерными сооружениями, насаждениями и прочими объектами, а также транспортными средствами;
        </li>
        <li>
            <a href="">2.36</a>. <strong></strong>
            <strong>одноколейное транспортное средство</strong> — транспортное средство на колесах, которые размещены на одной линии одно за другим;
        </li>
        <li>
            <a href="">2.37</a>. <strong></strong>
            <strong>опасность для движения</strong> — изменение условий дорожного движения или технического состояния транспортного средства, угрожающее безопасности участников дорожного движения, вынуждающее водителя снизить скорость движения или остановиться;
        </li>
        <li>
            <a href="">2.38</a>. <strong></strong>
            <strong>опережение</strong> — движение транспортного средства со скоростью, превышающей скорость попутно движущегося транспортного средства (транспортных средств);
        </li>
        <li>
            <a href="">2.39</a>. <strong></strong>
            <strong>организованная пешеходная колонна</strong> — группа пешеходов, обозначенная в соответствии с настоящими Правилами, имеющая руководителя и передвигающаяся по определенному маршруту;
        </li>
        <li>
            <a href="">2.40</a>. <strong></strong>
            <strong>организованная транспортная колонна</strong> — транспортное средство или транспортная колонна, движущиеся с постоянно включенным ближним светом фар в сопровождении транспортного средства (транспортных средств) оперативного назначения с включенными проблесковыми сигналами (маячками) (далее — маячки) синего или синего и красного цветов;
        </li>
        <li id="i2.40-1-">
            <a href="">2.40<sup>1</sup></a>. <strong></strong>
            <strong>оставление места дорожно-транспортного происшествия</strong> — действия участника дорожно-транспортного происшествия, направленные на сокрытие факта такого происшествия или обстоятельств его совершения, повлекшие необходимость проведения сотрудниками Государственной автомобильной инспекции Министерства внутренних дел (далее — ГАИ) мероприятий по установлению (розыску) данного участника и (или) розыску транспортного средства;
        </li>
        <li>
            <a href="">2.41</a>. <strong></strong>
            <strong>остановка транспортного средства</strong> — преднамеренное прекращение движения транспортного средства на время до 5 минут, а также более чем на 5 минут, если это необходимо для посадки (высадки) пассажиров либо загрузки (разгрузки) транспортного средства;
        </li>
        <li>
            <a href="">2.42</a>. <strong></strong>
            <strong>островок безопасности</strong> — техническое средство организации дорожного движения на наземных пешеходных переходах (если не определено иное, далее — пешеходный переход), конструктивно выделенное над проезжей частью дороги и предназначенное как защитный элемент для остановки пешеходов при переходе проезжей части дороги. К островку безопасности относится участок разделительной полосы, через которую проходит пешеходный переход. В случаях, определенных Министром внутренних дел, допускается обозначение островков безопасности при помощи линий горизонтальной дорожной разметки;
        </li>
        <li>
            <a href="">2.43</a>. <strong></strong>
            <strong>очевидец дорожно-транспортного происшествия</strong> — физическое лицо, непосредственно наблюдавшее дорожно-транспортное происшествие, которое располагает соответствующей информацией и может ее предоставить;
        </li>
        <li>
            <a href="">2.44</a>. <strong></strong>
            <strong>пассажир</strong> — непричастное к управлению транспортным средством физическое лицо, находящееся в (на) транспортном средстве, а также входящее (садящееся) в (на) транспортное средство или сходящее (высаживающееся) с транспортного средства;
        </li>
        <li>
            <a href="">2.45</a>. <strong></strong>
            <strong>перекресток</strong> — место пересечения, примыкания или разветвления дорог на одном уровне. Граница перекрестка определяется воображаемыми линиями, соединяющими соответственно противоположные, наиболее удаленные от центра перекрестка начала закруглений проезжих частей дорог. Не являются перекрестками пересечения с велосипедными, пешеходными дорожками и дорожками для всадников;
        </li>
        <li>
            <a href="">2.46</a>. <strong></strong>
            <strong>пешеход</strong> — физическое лицо, участвующее в дорожном движении вне транспортного средства, в том числе передвигающееся в инвалидной коляске, на роликовых коньках, лыжах, на другом спортивном инвентаре, ведущее велосипед, мопед или мотоцикл, везущее санки или коляску, и не выполняющее в установленном порядке на дороге ремонтные и другие работы;
        </li>
        <li>
            <a href="">2.47</a>. <strong></strong>
            <strong>пешеходная дорожка</strong> — выделенный конструктивно или с помощью линий горизонтальной дорожной разметки элемент дороги, предназначенный для движения пешеходов, обозначенный дорожным знаком «Пешеходная дорожка»;
        </li>
        <li>
            <a href="">2.48</a>. <strong></strong>
            <strong>пешеходная зона</strong> — территория, предназначенная для движения пешеходов и велосипедистов, въезды на которую и выезды с которой обозначены дорожными знаками «Пешеходная зона» и «Конец пешеходной зоны»;
        </li>
        <li>
            <a href="">2.49</a>. <strong></strong>
            <strong>пешеходный переход</strong> — участок проезжей части, предназначенный для движения пешеходов через проезжую часть дороги и обозначенный дорожными знаками «Пешеходный переход» и (или) горизонтальной дорожной разметкой;
        </li>
        <li>
            <a href="">2.50</a>. <strong></strong>
            <strong>полоса движения</strong> — любая из продольных полос проезжей части дороги, обозначенная или не обозначенная горизонтальной дорожной разметкой и имеющая ширину, достаточную для движения транспортных средств (за исключением одноколейных) в один ряд;
        </li>
        <li>
            <a href="">2.51</a>. <strong></strong>
            <strong>преимущество</strong> — право на первоочередное движение в намеченном направлении по отношению к другим участникам дорожного движения;
        </li>
        <li>
            <a href="">2.52</a>. <strong></strong>
            <strong>препятствие для дорожного движения</strong> — объект, который находится на пути участника дорожного движения и вынуждает его снизить скорость движения, совершить объезд или остановиться;
        </li>
        <li>
            <a href="">2.53</a>. <strong></strong>
            <strong>прилегающая территория</strong> — территория, непосредственно прилегающая к проезжей части дороги, не предназначенная для сквозного проезда, на которой расположены дворы, площадки, специально отведенные для стоянки транспортных средств, автозаправочные станции, строительные площадки и иные объекты;
        </li>
        <li>
            <a href="">2.54</a>. <strong></strong>
            <strong>прицеп</strong> — транспортное средство, предназначенное для движения в составе с механическим транспортным средством;
        </li>
        <li>
            <a href="">2.55</a>. <strong></strong>
            <strong>проезжая часть дороги</strong> — элемент дороги, предназначенный для движения транспортных средств и в случаях, предусмотренных настоящими Правилами, — для движения пешеходов;
        </li>
        <li>
            <a href="">2.56</a>. <strong></strong>
            <strong>путепровод</strong> — инженерное сооружение над дорогой (железнодорожными путями), которая имеет съезды на другую дорогу, обеспечивающее движение на разных уровнях;
        </li>
        <li>
            <a href="">2.57</a>. <strong></strong>
            <strong>разделительная зона</strong> — выделенный горизонтальной дорожной разметкой элемент дороги, разделяющий смежные проезжие части и не предназначенный для движения или остановки транспортных средств и пешеходов вне специально обозначенных мест;
        </li>
        <li>
            <a href="">2.58</a>. <strong></strong>
            <strong>разделительная полоса</strong> — выделенный конструктивно элемент дороги, разделяющий смежные проезжие части и не предназначенный для движения или остановки транспортных средств и пешеходов вне специально оборудованных и обозначенных мест;
        </li>
        <li>
            <a href="">2.59</a>. <strong></strong>
            <strong>регулировщик</strong> — сотрудник ГАИ, осуществляющий регулирование дорожного движения в экипировке (форменной одежде повышенной видимости с элементами из световозвращающего материала, с жезлом и свистком). К регулировщику приравнивается сотрудник Военной автомобильной инспекции Вооруженных Сил Республики Беларусь в экипировке (форменной одежде повышенной видимости с элементами из световозвращающего материала, с диском с красным сигналом (световозвращателем) и свистком) при обеспечении движения организованных транспортных колонн, в состав которых входят транспортные средства, принадлежащие Министерству обороны, Министерству внутренних дел, Комитету государственной безопасности, Государственному пограничному комитету, другим войскам и воинским формированиям Республики Беларусь;
        </li>
        <li>
            <a href="">2.60</a>. <strong></strong>
            <strong>самоходная машина</strong> — гусеничный трактор, сельскохозяйственная, дорожная, строительная, иная машина, которые без дополнительных мер обеспечения безопасности дорожного движения, предусмотренных организацией (заводом)-изготовителем, не предназначены для участия в дорожном движении. При участии в дорожном движении самоходные машины приравниваются к транспортным средствам, а их движение по дорогам должно осуществляться в соответствии с требованиями настоящих Правил, предъявляемыми к транспортным средствам, если этими Правилами не установлено иное в отношении самоходных машин;
        </li>
        <li>
            <a href="">2.61</a>. <strong></strong>
            <strong>стоянка транспортного средства</strong> — преднамеренное прекращение движения транспортного средства более чем на 5 минут по причинам, не связанным с посадкой (высадкой) пассажиров либо загрузкой (разгрузкой) транспортного средства;
        </li>
        <li>
            <a href="">2.62</a>. <strong></strong>
            <strong>тахограф</strong> — оборудование, предназначенное для установки на транспортных средствах в целях показания или регистрации в автоматическом или полуавтоматическом режиме данных о движении этих транспортных средств или об определенных периодах работы их водителей;
        </li>
        <li>
            <a href="">2.63</a>. <strong></strong>
            <strong>темное время суток</strong> — промежуток времени, который начинается после захода солнца и заканчивается с восходом солнца;
        </li>
        <li>
            <a href="">2.64</a>. <strong></strong>
            <strong>технически допустимая общая масса</strong> — максимальная масса транспортного средства, установленная организацией (заводом)-изготовителем (с грузом, водителем и пассажирами). Технически допустимой общей массой автопоезда является сумма технически допустимых общих масс автомобиля (колесного трактора) и прицепа;
        </li>
        <li>
            <a href="">2.65</a>. <strong></strong>
            <strong>технические средства организации дорожного движения</strong> — устройства, конструкции и изображения, применяемые на дорогах для регулирования дорожного движения, обеспечения его безопасности и повышения пропускной способности дорог;
        </li>
        <li>
            <a href="">2.66</a>. <strong></strong>
            <strong>тихоходное транспортное средство</strong> — механическое транспортное средство, которое по своей конструкции или по условиям обеспечения безопасности при перевозке груза не может двигаться со скоростью, превышающей 30 км/ч, обозначенное опознавательным знаком «Тихоходное транспортное средство»;
        </li>
        <li>
            <a href="">2.67</a>. <strong></strong>
            <strong>трамвай</strong> — механическое транспортное средство, предназначенное для движения по рельсам, участвующее в дорожном движении и не являющееся железнодорожным транспортным средством;
        </li>
        <li>
            <a href="">2.68</a>. <strong></strong>
            <strong>транспортная колонна</strong> — группа из двух и более механических транспортных средств, следующих друг за другом по одной полосе движения с постоянно включенным ближним светом фар, обозначенная опознавательными знаками «Колонна», если иное не определено подпунктом 201.7 пункта 201 настоящих Правил;
        </li>
        <li>
            <a href="">2.69</a>. <strong></strong>
            <strong>транспортное средство</strong> — устройство, предназначенное для движения по дороге и для перевозки пассажиров, грузов или установленного на нем оборудования;
        </li>
        <li>
            <a href="">2.70</a>. <strong></strong>
            <strong>транспортное средство оперативного назначения</strong> — транспортное средство, имеющее специальную цветографическую окраску и (или) световую и звуковую сигнализацию;
        </li>
        <li>
            <a href="">2.71</a>. <strong></strong>
            <strong>троллейбус</strong> — механическое транспортное средство, приводимое в движение электродвигателем, питание которого обеспечивается по подвесной контактной сети от внешнего источника электрического тока;
        </li>
        <li>
            <a href="">2.72</a>. <strong></strong>
            <strong>тротуар</strong> — элемент дороги, примыкающий к проезжей части или отделенный от нее газоном, предназначенный для движения пешеходов и велосипедистов в соответствии с настоящими Правилами;
        </li>
        <li>
            <a href="">2.73</a>. <strong></strong>
            <strong>тяжеловесное и (или) крупногабаритное транспортное средство</strong> — транспортное средство, максимальные весовые и (или) габаритные размеры которого превышают допустимые параметры, установленные для проезда по автомобильным дорогам общего пользования;
        </li>
        <li>
            <a href="">2.74</a>. <strong></strong>
            <strong>управление транспортным средством</strong> — воздействие на органы управления транспортного средства, приведшее к изменению его положения относительно первоначального;
        </li>
        <li>
            <a href="">2.75</a>. <strong></strong>
            <strong>усовершенствованное покрытие</strong> — покрытие дороги из асфальтобетонных или цементобетонных смесей, из щебеночных, гравийных, шлаковых или других минеральных материалов, обработанных органическими или минеральными вяжущими материалами, а также из штучных материалов: брусчатки, булыжника, клинкера, мозаики и т.п.;
        </li>
        <li>
            <a href="">2.76</a>. <strong></strong>
            <strong>уступить дорогу (не иметь преимущества)</strong> —
            требование, означающее не возобновлять движение, снизить скорость движения вплоть до остановки транспортного средства или не осуществлять какой-либо маневр (за исключением требования освободить занимаемую полосу движения, подаваемого регулировщиком или водителем транспортного средства оперативного назначения), если это может вынудить другого участника (других участников) дорожного движения изменить направление и (или) скорость движения;
        </li>
        <li>
            <a href="">2.77</a>. <strong></strong>
            <strong>участник дорожного движения</strong> — физическое лицо, находящееся в пределах дороги в (на) транспортном средстве или вне его, за исключением регулировщика и работника, выполняющего в установленном порядке на дороге ремонтные и другие работы;
        </li>
        <li>
            <a href="">2.77</a>. <strong></strong>
            <strong>шасси транспортного средства</strong> — составная часть грузового автомобиля, прицепа к нему, грузопассажирского автомобиля, тягача, предназначенная для последующего изготовления транспортного средства, не имеющая составляющих частей для перевозки пассажиров и (или) грузов и установленного оборудования. Участие в дорожном движении шасси транспортных средств должно осуществляться в соответствии с требованиями настоящих Правил, предъявляемыми к транспортным средствам, если этими Правилами не установлено иное в отношении шасси транспортных средств;
        </li>
        <li>
            <a href="">2.78</a>. <strong></strong>
            <strong>элементы дороги</strong> — одна или несколько проезжих частей дороги, трамвайные пути, тротуары, пешеходные и велосипедные дорожки (за исключением велосипедных дорожек, расположенных обособленно от дороги), посадочные площадки, расположенные на проезжей части дороги и предназначенные для посадки (высадки) пассажиров в маршрутное транспортное средство, островки безопасности, выделенные конструктивно или линиями горизонтальной дорожной разметки, разделительные зоны, разделительные полосы, настилы железнодорожных переездов и обочины;
        </li>
        <li>
            <a href="">2.79</a>. <strong></strong>
            <strong>эстакада</strong> — инженерное сооружение для поднятия одной дороги над другой в месте их пересечения, а также для размещения на определенной высоте дороги, которая не имеет съездов на другую дорогу.
        </li>
        <li>
            <a href="">3</a>. <strong></strong>
            На дорогах Республики Беларусь установлено правостороннее движение транспортных средств.
        </li>
        <li>
            <a href="">4</a>. <strong></strong>
            ГАИ осуществляется согласование дорожного движения в случаях, не оговоренных настоящими Правилами, а также при применении в экспериментальных целях технических средств организации дорожного движения, не предусмотренных настоящими Правилами и техническими нормативными правовыми актами. Своевременное доведение в доступных формах до сведения физических и юридических лиц технических нормативных правовых актов в сфере дорожного движения и обеспечения его безопасности возлагается на республиканский орган государственного управления по стандартизации, метрологии и сертификации.
            <p>Формы и методы контроля за выполнением участниками дорожного движения требований настоящих Правил определяются Министерством внутренних дел.</p>
        </li>
        <li>
            <a href="">5</a>. <strong></strong>
            Нарушение настоящих Правил влечет ответственность, установленную законодательными актами.
        </li>
    </ul>
</div>
