@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Глава 5. Обязанности пассажиров</h1>

<ul>
    <li>
        23. <strong></strong>
        Пассажир обязан:
    </li>
    <li>
        23.1. <strong></strong>
        осуществлять посадку (высадку) только после полной остановки транспортного средства с посадочной площадки, а в случае ее отсутствия — с тротуара или обочины;
    </li>
    <li>
        23.2. <strong></strong>
        быть пристегнутым при движении в механическом транспортном средстве, оборудованном ремнями безопасности, кроме случаев, указанных в абзацах третьем и четвертом части второй подпункта 9.5 пункта 9 настоящих Правил, а при поездке на мотоцикле, мопеде — быть в застегнутом мотошлеме;
    </li>
    <li>
        23.3. <strong></strong>
        соблюдать меры безопасности, предусмотренные конструкцией транспортного средства и правилами перевозки пассажиров на соответствующем виде транспортного средства.
    </li>
    <li>
        24. <strong></strong>
        Пассажиру запрещается:
    </li>
    <li>
        24.1. <strong></strong>
        отвлекать водителя от управления транспортным средством во время его движения и (или) мешать водителю в управлении транспортным средством;
    </li>
    <li>
        24.2. <strong></strong>
        препятствовать закрытию дверей транспортного средства, а во время его движения высовываться в оконные проемы, открывать двери транспортного средства;
    </li>
    <li>
        24.3. <strong></strong>
        при движении на грузовом автомобиле с бортовой платформой стоять, сидеть на его бортах или на грузе, находящемся выше бортов.
    </li>
</ul>
