@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>1. Транспортные светофоры</h1>

<ul>
    <li>
        <a href="">1</a>. <strong>С вертикальным расположением сигналов.</strong>
        <div>
            <img src="~/images/l-1.png" alt="С вертикальным расположением сигналов" title="С вертикальным расположением сигналов">
        </div>
    </li>
    <li>
        <a href="">2</a>. <strong>С дополнительными секциями.</strong>
        <div>
            <img src="~/images/l-2.png" alt="С дополнительными секциями" title="С дополнительными секциями">
        </div>
    </li>
    <li>
        <a href="">3</a>. <strong>Для регулирования движения в определенных направлениях.</strong>
        <div>
            <img src="~/images/l-3.png" alt="Для регулирования движения в определенных направлениях" title="Для регулирования движения в определенных направлениях">
        </div>
    </li>
    <li>
        <a href="">4</a>. <strong>Для регулирования движения велосипедистов.</strong>
        <div>
            <img src="~/images/l-4.png" alt="Для регулирования движения велосипедистов" title="Для регулирования движения велосипедистов">
        </div>
    </li>
    <li>
        <a href="">5</a>. <strong>С горизонтальным расположением сигналов.</strong>
        <div>
            <img src="~/images/l-5.png" alt="С горизонтальным расположением сигналов" title="С горизонтальным расположением сигналов">
        </div>
    </li>
    <li>
        <a href="">6</a>. <strong>Реверсивный.</strong>
        <div>
            <img src="~/images/l-6.png" alt="Реверсивный" title="Реверсивный">
        </div>
    </li>
    <li>
        <a href="">7</a>. <strong>Для регулирования движения трамваев и других маршрутных транспортных средств.</strong>
        <div>
            <img src="~/images/l-7.png" alt="Для регулирования движения трамваев и других маршрутных транспортных средств" title="Для регулирования движения трамваев и других маршрутных транспортных средств">
        </div>
    </li>
    <li>
        <a href="">8</a>. <strong>Для регулирования движения на территориях организаций и в местах сужения проезжей части дороги.</strong>
        <div>
            <img src="~/images/l-8.png" alt="Для регулирования движения на территориях организаций и в местах сужения проезжей части дороги" title="Для регулирования движения на территориях организаций и в местах сужения проезжей части дороги">
        </div>
    </li>
    <li>
        <a href="">9</a>. <strong>Для обозначения нерегулируемых перекрестков и пешеходных переходов.</strong>
        <div>
            <img src="~/images/l-9.png" alt="Для обозначения нерегулируемых перекрестков и пешеходных переходов" title="Для обозначения нерегулируемых перекрестков и пешеходных переходов">
        </div>
    </li>
    <li>
        <a href="">10</a>. <strong>Для регулирования движения через железнодорожные переезды.</strong>
        <div>
            <img src="~/images/l-10.png" alt="Для регулирования движения через железнодорожные переезды" title="Для регулирования движения через железнодорожные переезды">
        </div>
    </li>
</ul>

<h1>2. Пешеходные светофоры</h1>

<ul>
    <li>
        <a href="">11</a>. <strong>Пешеходные светофоры.</strong>
        <div>
            <img src="~/images/l-11.png" alt="Пешеходные светофоры" title="Пешеходные светофоры">
        </div>
    </li>
</ul>

<h1>3. Дополнительное оборудование, применяемое с дорожными светофорами</h1>

<ul>
    <li>
        <a href="">12</a>. <strong>Информационные секции.</strong>
        <div>
            <img src="~/images/l-12.png" alt="Информационные секции" title="Информационные секции">
        </div>
    </li>
    <li>
        <a href="">13</a>. <strong>Обозначающие таблички.</strong>
        <div>
            <img src="~/images/l-13.png" alt="Обозначающие таблички" title="Обозначающие таблички">
        </div>
    </li>
    <li>
        <a href="">14</a>. <strong>Информационные таблички.</strong>
        <div>
            <img src="~/images/l-14.png" alt="Информационные таблички" title="Информационные таблички">
        </div>
    </li>
</ul>

<h1>4. Примеры дорожных светофоров</h1>

<ul>
    <li id="i15">
        <a href="https://pdd.by/a1-15">15</a>. <strong>Применяемые с информационной секцией.</strong>
        <div>
            <img src="~/images/l-15.png" alt="Применяемые с информационной секцией" title="Применяемые с информационной секцией">
        </div>
    </li>
    <li id="i16">
        <a href="https://pdd.by/a1-16">16</a>. <strong>Применяемые с информационной табличкой.</strong>
        <div>
            <img src="~/images/l-16.png" alt="Применяемые с информационной табличкой" title="Применяемые с информационной табличкой">
        </div>
    </li>
</ul>
