@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}
<h1>Приложение 5. Опознавательные знаки транспортных средств</h1>

<ul style="width: 50%; float: left;">
    <li>
        <a href="">1</a>. <strong>Автопоезд.</strong>
        <div>
            <img src="~/images/annex5/op.1.png" alt="Автопоезд">
        </div>
    </li></br>
    <li>
        <a href="">2</a>. <strong>Знак аварийной остановки.</strong>
        <div>
            <img src="~/images/annex5/op.2.png" alt="Знак аварийной остановки">
        </div>
    </li></br>
    <li>
        <a href="">3</a>. <strong>Шипы.</strong>
        <div>
            <img src="~/images/annex5/op.3.png" alt="Шипы">
        </div>
    </li></br>
    <li>
        <a href="">4</a>. <strong>Учебное транспортное средство.</strong>
        <div>
            <img src="~/images/annex5/op.4.png" alt="Учебное транспортное средство">
        </div>
    </li></br>
    <li>
        <a href="">5</a>. <strong>Ограничение скорости.</strong>
        <div>
            <img src="~/images/annex5/op.5.png" alt="Ограничение скорости">
        </div>
    </li></br>
    <li>
        <a href="">6</a>. <strong>Перевозка детей.</strong>
        <div>
            <img src="~/images/annex5/op.6.png" alt="Перевозка детей">
        </div>
    </li></br>
    <li>
        <a href="">7</a>. <strong>Колонна.</strong>
        <div>
            <img src="~/images/annex5/op.7.png" alt="Колонна">
        </div>
    </li></br>
    <li>
        <a href="">8</a>. <strong>Тихоходное транспортное средство.</strong>
        <div>
            <img src="~/images/annex5/op.8.png" alt="Тихоходное транспортное средство">
        </div>
    </li></br>
    <li>
        <a href="">9</a>. <strong>Крупногабаритный груз.</strong>
        <div>
            <img src="~/images/annex5/op.9.png" alt="Крупногабаритный груз">
        </div>
    </li></br> 
</ul>
<ul style="width: 50%; float: right;">
    <li>
        <a href="">10</a>. <strong>Отличительный знак транспортного средства Республики Беларусь.</strong>
        <div>
            <img src="~/images/annex5/op.10.png" alt="Отличительный знак транспортного средства Республики Беларусь">
        </div>
    </li></br>
    <li>
        <a href="1"11</a>. <strong>Опасный груз.</strong>
        <div>
            <img src="~/images/annex5/op.11.png" alt="Опасный груз">
        </div>
    </li></br>
    <li>
        <a href="">12</a>. <strong>Инвалид по слуху.</strong>
        <div>
            <img src="~/images/annex5/op.12.png" alt="Инвалид по слуху">
        </div>
    </li></br>
    <li>
        <a href="">13</a>. <strong>Инвалид.</strong>
        <div>
            <img src="~/images/annex5/op.13.png" alt="Инвалид">
        </div>
    </li></br>
    <li>
        <a href="">14</a>. <strong>Врач.</strong>
        <div>
            <img src="~/images/annex5/op.14.png" alt="Врач">
        </div>
    </li></br>
    <li>
        <a href="">15</a>. <strong>Знак опасности.</strong>
        <div>
            <img src="~/images/annex5/op.15.png" alt="Знак опасности">
        </div>
    </li></br>
    <li>
        <a href="">16</a>. <strong>Обозначение гибких связующих звеньев при буксировке механических транспортных средств.</strong>
        <div>
            <img src="~/images/annex5/op.16.png" alt="Обозначение гибких связующих звеньев при буксировке механических транспортных средств">
        </div>
    </li></br>
    <li>
        <a href="">17</a>. <strong>Транспортное средство большой грузоподъемности.</strong>
        <div>
            <img src="~/images/annex5/op.17.png" alt="Транспортное средство большой грузоподъемности">
        </div>
    </li></br>
    <li>
        <a href="">18</a>. <strong>Транспортное средство большой длины.</strong>
        <div>
            <img src="~/images/annex5/op.18.png" alt="Транспортное средство большой длины">
        </div>
    </li>   
</ul>