@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "PDD online";
}

<div class="container-login100">
    <div class="wrap-login100">
        <form class="login100-form validate-form" method="post" action="~/Home/Auth">
            <span class="login100-form-title p-b-26">
                Админ панель
            </span>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" name="login" placeholder="Login">
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="password" name="pass" placeholder="Password">
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button type="submit" class="login100-form-btn">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div> 
<script src ="~/js/site.js"></script>