@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "PDD online";
}

<div>
    <h1>Контакты</h1><br />
    <h3>Телефон для связи</h3>
    +3752591573**<br />
    <br />
    <h3>Почта для связи</h3>
    rnehaikov@gmail.com
    <br />
    
</div>
