@model IEnumerable<MVC1.Models.Phone>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Каталог товаров";
}
<h3>Смартфоны</h3>
<table>
    <tr>
        <td class="menu-item">Модель</td>
        <td class="menu-item">Производитель</td>
        <td class="menu-item">Цена</td>
        <td></td>
    </tr>
    @foreach (var phone in Model)
    {
        <tr>
            <td>@phone.Name</td>
            <td>@phone.Company</td>
            <td>@phone.Price</td>
            <td><a href="~/Home/Buy/@phone.Id">Купить</a></td>
        </tr>
    }
</table>
