@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Welcome to PDD online";
}
<h2>Сайт для изучения Правил Дорожного движения "PDD online"</h2>
<span class="welcome-text">
    Приветствуем вас на сайте для изучения Правил Дорожного движения "PDD online". <br><br >
    Данный сайт предоставляет возможность бесплатного изучения правил, <br>
    а также последующего тестирования полученных знаний. <br> <br>
    Для начала изучения ПДД необходимо выбрать интересующий вас раздел в меню слева, а затем выбрать главу в разделе. <br>
    Для начала тестирования полученных знаний необходимо на вверхней панели нажать кнопку "Тесты". <br>
</span>