/******************************

  Отображение текста

*******************************/
.menu-content {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.text {
    width: 1250px;
    margin-right: 0;
    margin-left: 20px;
}
