@{
    Layout = "~/Views/Shared/_TestLayout.cshtml";
    ViewData["Title"] = "PDD online";
}
<div class="buttons">
    <a href="~/Test/Test" class="selectButton"><span class="textInButton">Пройти тест</span></a>
    <a href="#" class="selectButton"><span class="textInButton">Создать вопрос</span></a>
</div>

